<div ng-include="'./templates/partials/navbar.html'"></div>
<div class="container">
    <div class="panel panel-default" style="margin-top:70px;">
        <div class="panel-heading text-center">
            <h3 style="text-align:center;font-weight: 600; margin:0;">{{'COURSES.CONTACTINFO' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="form">
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label">{{'COURSES.NAME' | translate}}</label>
                        <input type="text" class="form-control" ng-model="currentUser.name" ng-disabled="!edit">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">{{'COURSES.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" ng-model="currentUser.email" ng-disabled="!edit">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">{{'COURSES.PHONE' | translate}}</label>
                        <input type="text" class="form-control" ng-model="currentUser.phone" ng-disabled="!edit">
                    </div>
                    <!-- <div class="col-md-6" style="padding-top: 25px;">
                        <button type="submit" class="btn pull-right" ng-if="!edit" ng-click="editInfo(true)"><i class="fa fa-pencil"></i></button>
                        <button type="submit" class="btn btn-primary pull-right" ng-if="edit" ng-click="saveInfo()">Guardar cambios</button>                        
                        <button type="submit" class="btn pull-right" ng-if="edit" ng-click="editInfo(false)">Cancelar</button>                                                
                    </div> -->

                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading text-center">
            <h3 style="text-align:center;font-weight: 600; margin:0;">{{'COURSES.MYCOURSES' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div>
                <div ng-show="subscriptions.length" class="col-md-4 ntce-course" ng-repeat="s in subscriptions track by $index">
                    <a class="thumbnail" href="javascript:void(0)">
                        <img ng-src={{s.courseData.poster}} alt={{s.courseData.name}}>
                        <div class="caption" onclick="showCourse(s.course)">
                            <h3 ng-if="lang === 'es'" class "title">{{s.courseData.name}}</h3>
                            <h3 ng-if="lang === 'en'" class "title">{{s.courseData.englishName}}</h3>
                            <h4 ng-if="c.online">(Online)</h4>
                            <h4 ng-if="!c.online">({{s.courseData.city}} {{s.courseData.date | date:"dd/MM/yyyy"}})</h4>
                            <p class="text-muted instructor">{{s.courseData.instructor}}</p>
                        </div>
                        <div class="type" ng-switch on="c.online">
                            <div ng-switch-when="true" class="blue">{{'COURSES.ONLINE' | translate}}</div>
                            <div ng-switch-when="false" class="red">{{'COURSES.PHYSICAL' | translate}}</div>
                        </div>
                        <div class="ranking-course ">
                            <div class="comments col-md-4 col-sm-4 col-xs-4">

                                <img class "comment" src="images/courses/comentarios.png" alt="comments"> {{c.comments.length}}

                                <img class "comment" src="images/courses/participantes.png" alt="comments"> {{c.users || 0}}

                            </div>
                            <div class="ranking col-md-4 col-sm-4 col-xs-4">
                                <i class="fa fa-star" ng-repeat="y in c.rating.yellow"></i>
                                <i class="fa fa-star text-muted" ng-repeat="g in c.rating.gray"></i>
                            </div>
                            <div class="ranking col-md-4 col-sm-4 col-xs-4">
                                <button class="btn btn-xs btn-primary" ng-click="ModalShow(s.course)">{{'COURSES.VALORATE' | translate}}</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-show="!courses.length" class="text-center">
                    <span>No se encontraron suscripciones</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comment modal -->
<div class="modalComment modal fade" id="noLogged" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'COURSES.VALORATION' | translate}}</h4>
                </div>
                <div class="modal-body" style="padding: 15px !important">
                    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="rating-c">
                            <i class="fa fa-star" ng-class="{'yellow-star': valoration.value >= 1}" ng-click="setValoration(1)"></i>
                            <i class="fa fa-star" ng-class="{'yellow-star': valoration.value >= 2}" ng-click="setValoration(2)"></i>
                            <i class="fa fa-star" ng-class="{'yellow-star': valoration.value >= 3}" ng-click="setValoration(3)"></i>
                            <i class="fa fa-star" ng-class="{'yellow-star': valoration.value >= 4}" ng-click="setValoration(4)"></i>
                            <i class="fa fa-star" ng-class="{'yellow-star': valoration.value >= 5}" ng-click="setValoration(5)"></i>
                            <textarea rows="3" class="form-control" class="margin-top: 25px" ng-model="valoration.text" placeholder="{{'COURSES.ENTERCOMMENT' | translate}}"></textarea>
                            <a class="btn btn-primary" ng-click="saveValoration()">{{'COURSES.SAVE' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>