<div class="home-banner">
  <div id="{{$ctrl.timer}}" class="banner-animated" style="background-image: url({{$ctrl.imageurl}})">
    <div class= "container banner-detail" ng-show="$ctrl.course">
      
      <div class="name-course" ng-if="$ctrl.lang === 'en'"> {{$ctrl.courseenglish}}</div>
      <div class="name-course" ng-if="$ctrl.lang === 'es'"> {{$ctrl.course}} </div>
      <div class="method-course"ng-if="$ctrl.method">({{$ctrl.method}})</div>
    </div>
    <div ng-include="$ctrl.content"></div>
  </div>

  <div ng-show="$ctrl.flag1" class="fast-links {{$ctrl.color}} hidden-xs hidden-sm">
    <div class="container">

      <div class="fast-link col-sm-4 col-md-4">
        <img ng-if="$ctrl.icon1 != undefined" ng-src="{{$ctrl.icon1}}" />
        <div ng-class="{'with-icon' : $ctrl.icon1!=undefined}">{{$ctrl.flag1}}</div>
      </div>
      <div class="fast-link gray col-sm-4 col-md-4">
        <img ng-if="$ctrl.icon2 != undefined" ng-src="{{$ctrl.icon2}}" />
        <div ng-class="{'with-icon' : $ctrl.icon2!=undefined}">{{$ctrl.flag2}}</div>
      </div>
      <div class="fast-link col-sm-4 col-md-4">
        <img ng-if="$ctrl.icon3 != undefined" ng-src="{{$ctrl.icon3}}" />
        <div ng-class="{'with-icon' : $ctrl.icon3 !=undefined}">{{$ctrl.flag3}}</div>
      </div>
    </div>
  </div>

</div>