<div class="brochure-cont" ng-click="downloadBrochure()">
    <a href="/uploads/brochure/brochure-current.pdf" download="NTCE_brochure_current.pdf">
        <img src="/images/brochure.png">
    </a>
</div>