<div class="contact-form">
    <div class="back-shadow"></div>
    <div class="content">
        <div class="container" ng-model="contactCtlr">
            <h3>{{'CONTACT.TALK' | translate}}</h3>
            <h5>{{'CONTACT.WRITETOUS' | translate}}</h5>
            <form ng-submit="sendContactEmail()">
                <div class="form-group col-md-4">
                    <input required type="text" ng-model="contact.name" value="" placeholder="{{'AUTH.NAME_PLACEHOLDER' | translate}}" />
                </div>
                <div class="form-group col-md-4">
                    <input required type="text" ng-model="contact.email" value="" placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}" />
                </div>
                <div class="form-group col-md-4">
                    <input required type="text" ng-model="contact.phone" value="" placeholder="{{'AUTH.PHONE_PLACEHOLDER' | translate}}" />
                </div>
                <div class="form-group col-md-12">
                    <input required type="text" ng-model="contact.message" value="" placeholder="{{'CONTACT.MESSAGE' | translate}}" />
                </div>
                <div class="form-group col-md-12" >
                    <button type="submit" class="btn btn-primary pull-right">{{'CHECKOUT.SEND' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>