<div class="footer-general">
   <div class="container">  
    <div class="col-1">
        <div class="col-sm-3">
                <div> 
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="/images/auth/national.png"/></a>
                </div>
                <div>
                    <p class="text-copyright text-muted" translate="FOOTER.COPYRIGHT"></p>
                </div>
        </div>
        <div class="footer-pages col-sm-3  text-muted">
              <ul>
                  <li class="footer-links"><a href="#/" translate="HOME.INDEX"></a></li><br>
                  <li class="footer-links"><a href="#/courses" translate="HOME.COURSES"></a></li><br>
                  <li class="footer-links"><a href="#/about" translate="HOME.ABOUT"></a></li><br>
                  <li class="footer-links"><a href="#/engineering" translate="HOME.ENGINEERING"></a></li><br>
                  <li class="footer-links"><a href="#/news" translate="HOME.NEWS"></a></li><br>
                  <li class="footer-links"><a href="#/contact" translate="HOME.CONTACT"></a></li><br>
                </ul>
         </div>
         <div class="footer-pages col-sm-3  text-muted">
                <ul>
                    <li class="footer-links"><a href="#/signin" translate="AUTH.SIGNIN"></a></li><br>
                    <li class="footer-links"><a href="#/signup" translate="AUTH.SIGNUP"></a></li><br>
                    <li class="footer-links"><a href="#/cart" translate="AUTH.CART"></a></li><br>
                    <li class="footer-links"><a href="#/legal-warning" translate="AUTH.LEGAL"></a></li><br>
                </ul>
         </div>
         <div class="footer-contact col-sm-3  text-muted">
             <p class="text-muted">Venezuela (58) 1 220 0927</p>
            <p class="text-muted">Colombia (57) 1 658 2971</p>
            <p class="text-muted">Argentina (54) 9 11 5278 5967</p><br>
            <p class="text-muted" translate="FOOTER.FOLLOW"></p> 
            
         </div>
        </div> 
   </div>
</div>