<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navbarCtlr">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
      <span class="sr-only">NTCE</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#"><img class="img-responsive" src="/images/national.png"/></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-link"><a href="#/" translate="HOME.INDEX"></a></li>
        <li class="navbar-link"><a href="#/courses" translate="HOME.COURSES"></a></li>
        <li class="navbar-link"><a href="#/about" translate="HOME.ABOUT"></a></li>
        <li class="navbar-link"><a href="#/engineering" translate="HOME.ENGINEERING"></a></li>
        <li class="navbar-link"><a href="#/contact" translate="HOME.CONTACT"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!isLogged"><a href="#/signin" translate="AUTH.SIGNIN"></a></li>
        <li ng-if="!isLogged"><a href="#/signup" translate="AUTH.SIGNUP"></a></li>
        <li ng-if="isLogged" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{currentUser.name}}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/myaccount">{{'DEFAULT.MY_ACCOUNT' | translate }}</a></li>
            <li ng-if="roleUserLoggued"><a ng-click="goToDashboard()" href="javascript:;">Dashboard</a></li>
            <li><a href="#/logout" translate="AUTH.SIGNOUT"></a></li>
          </ul>
        </li>
        <li class="dropdown" ng-controller="LanguageSwitchCtlr">
          <a class="dropdown-toggle" data-toggle="dropdown">{{lang}}
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-show="lang == 'en'" ng-click="changeLanguage('es')" translate="DEFAULT.BUTTON_LANG_ES"></a></li>
            <li><a ng-show="lang == 'es'" ng-click="changeLanguage('en')" translate="DEFAULT.BUTTON_LANG_EN"></a></li>
          </ul>
        </li>
        <!-- Cart link -->
        <li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{cart.length}}</a></li>
      </ul>
    </div>
  </div>
</nav>
