<div class="partners-container">
    <div class="container">
        <div class="col-md-12">
            <h3>{{'HOME.PARTNERS' | translate}}</h3>
        </div>
        <div class="col-md-6">
            <img src="/images/partners/codewest.png" alt="Code West">
        </div>
        <div class="col-md-6">
            <img src="/images/partners/arveng.png" alt="Arveng Consulting">
        </div>
    </div>

</div>