<div class="talker">
  <div class="back-shadow"></div>
  <div class="content">
    <div class="post-banner-content container">
      <div class="banner-content">
        <div>
          <h2 translate="HOME.TALKERTITLE"></h2>
          <span translate="HOME.TALKERSUBTITLE"></span>
          <div class="banner-form courses-search-form">
            <div class="container">
              <form class="form-inline">
                <a href="#/contact" type="submit" class="btn btn-primary">
                            {{'HOME.CONTACTUS' | translate}}
                        </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
