<div id="carousel-example-generic" class="carousel slide testimonials-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption">
                <img src="/images/quote.png" class="quote"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula vitae lacus vitae laoreet. Integer a turpis et metus
                    facilisis pharetra Phasellus quis felis sodales, tempor nisl in.</p>
                <img src="/images/testimonials/tutor-8.jpg" class="img-circle"/>
                <p class="testimonial-name">Jhon Doe - Colombia</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula vitae lacus vitae laoreet. Integer a turpis et metus
                    facilisis pharetra Phasellus quis felis sodales, tempor nisl in.</p>
                <img src="/images/testimonials/tutor-8.jpg" class="img-circle"/>
                <p class="testimonial-name">Jhon Doe - Colombia</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>