<form ng-submit="savePass()" class="ntce-form">
    <div class="form-group text-center">
      <h4 class="text-primary" translate="AUTH.NEW_PASS"></h4>
    </div>
    <div class="form-group">
      <input type="password" required placeholder="{{'AUTH.PASS_PLACEHOLDER' | translate}}" ng-model="person.password" class="ntce-form-control" />
    </div>
    <div class="form-group">
        <input type="password" required placeholder="{{'AUTH.PASSC_PLACEHOLDER' | translate}}" ng-model="person.passwordConfirm" class="ntce-form-control" />
      </div>
    <div class="form-group">
      <input type="submit" value="{{'AUTH.RESTORE_PASS' | translate}}" class="btn btn-primary btn-block">
    </div>
  </form>
