<div class="trans-page">
  <div class="trans-bg"></div>
  <div class="trans-container col-md-6 col-md-offset-3 col-sm-12 text-center">
      <img src="/images/national.png" alt="NationalTCE" class="img-responsive">
      <h4 class="text-primary">Please check your email and activate your account before signin</h4>
      <p class="text-muted">
        {{'AUTH.REDIRECT_TO_SIGNIN' | translate}} {{time}} {{'DEFAULT.SECONDS' | translate}}
        <a href="#/signin" translate="DEFAULT.GO_NOW"></a>
      </p>
  </div>
</div>
