<form ng-submit="doRestore()" class="ntce-form">
  <div class="form-group text-center">
    <h4 class="text-primary" translate="AUTH.FORGET_PASS"></h4>
    <p translate="AUTH.RESTORE_PASS_SUBT"></p>
  </div>
  <div class="form-group">
    <input type="email" required placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}" ng-model="person.email" class="ntce-form-control" />
  </div>
  <div class="form-group">
    <input type="submit" value="{{'AUTH.RESTORE_PASS' | translate}}" class="btn btn-primary btn-block">
  </div>
  <div class="form-group text-center">
    <a href="#/signin" style="color: #337ab7;"><b translate="AUTH.I_REMEMBER_PASS"></b></a>
  </div>
</form>
