<form ng-submit="doSignUp()" class="ntce-form">
  <div class="form-group" ng-if="errorMessage">
    <p class="text-primary">{{errorMessage}}</p>
  </div>
  <div class="form-group">
    <input type="text" required placeholder="{{'AUTH.NAME_PLACEHOLDER' | translate}}" ng-model="person.name" class="ntce-form-control"
    />
  </div>
  <div class="form-group">
    <input type="email" required placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}" ng-model="person.email" class="ntce-form-control"
    />
  </div>
  <div class="form-group">
    <input type="text" required placeholder="{{'AUTH.PHONE_PLACEHOLDER' | translate}}" ng-model="person.phone" class="ntce-form-control"
    />
  </div>
  <div class="form-group">
    <input type="password" required placeholder="{{'AUTH.PASS_PLACEHOLDER' | translate}}" ng-model="person.password" class="ntce-form-control"
    />
  </div>
  <div class="form-group">
    <input type="password" required placeholder="{{'AUTH.PASSC_PLACEHOLDER' | translate}}" ng-model="person.passwordConfirm"
      class="ntce-form-control" />
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary btn-block" value="{{'AUTH.REGISTER_BTN' | translate}}">
  </div>
  <div class="form-group text-center">
    <a href="#/signin"><b translate="AUTH.HAVE_ACCOUNT_LINK"></b></a>
  </div>
  <div class="form-group text-center">
    <b><a href="/">Home</a></b>
  </div>
</form>
