<div class="sign-container signup">
  <div class="sign-form col-md-4 col-sm-6 col-xs-12">
      <div class="sign-logo">
          <a href="#/">
            <img ng-src="/images/national.png" />
          </a>
        </div>
      <div ng-include="'/templates/auth/signup.form.html'"></div>
      <div ng-include="'/templates/partials/footer-mini.html'"></div>
  </div>
</div>

