<form ng-submit="doSignIn()" class="ntce-form">
  <div class="form-group" ng-if="activated">
    <p class="text-primary" translate="AUTH.ACCOUNT_ACTIVATED"></p>
  </div>
  <div class="form-group" ng-if="errorMessage">
    <p class="text-primary">{{errorMessage}}</p>
  </div>
  <div class="form-group">
    <input type="email" required placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}" ng-model="person.email" class="ntce-form-control"
    />
  </div>
  <div class="form-group">
    <input type="password" required placeholder="{{'AUTH.PASS_PLACEHOLDER' | translate}}" ng-model="person.password" class="ntce-form-control"
    />
  </div>
  <div class="form-group text-center">
    <a href="#/restorepass" style="color: #337ab7;"><b translate="AUTH.FORGET_PASS"></b></a>
  </div>
  <div class="form-group">
    <input type="submit" value="{{'AUTH.SIGNIN' | translate}}" class="btn btn-primary btn-block">
  </div>
  <div class="form-group text-center text-muted">
    {{'AUTH.YOU_ARE_NEW' | translate}} <a href="#/signup"><b translate="AUTH.REGISTER"></b></a>
  </div>
  <div class="form-group text-center">
    <b><a href="/">Home</a></b>
  </div>
</form>
