.about-text{
    text-align: left;
}
.right-text{
    padding-top: 45px;
    padding-bottom: 45px; 
}

.left-text{
    padding-top: 45px;
    padding-bottom: 45px;
}
.resume-text{

    padding-top: 45px;
    padding-bottom: 45px; 
}

.text-squared{
    margin: 0px;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
    
}

.subtitle{
    margin: 0px;
}