.sign-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-container.signup {
  background-image: url("/images/auth/sign-bg.jpg");
}

.sign-container.signin {
  background-image: url("/images/auth/signin-bg.jpg");
}

.sign-container > .sign-form {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

.sign-container > .sign-form > .sign-logo {
  width: 100%;
  max-height: 90px;
  text-align: center;
}

.sign-container > .sign-form > .sign-logo > a > img {
  width: 100%;
  margin: 0 auto;
}

.ntce-form {
  margin-top: 45px;
}
/*# sourceMappingURL=auth.css.map */