.sign-container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;

  &.signup{
    background-image: url('/images/auth/sign-bg.jpg');
  }

  &.signin{
    background-image: url('/images/auth/signin-bg.jpg');
  }

  & > .sign-form{
    position: absolute;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;

    > .sign-logo{
      width: 100%;
      max-height: 90px;
      text-align: center;

      > a > img{
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.ntce-form{
  margin-top: 45px;
}
