.home-banner {
  position: relative;
}

.home-banner > .banner-animated {
  height: 550px;
  margin-bottom: 60px;
  background-size: cover;
}

.home-banner > .banner-animated > .banner-detail > .name-course {
  padding-top: 400px;
  font-size: 40px;
  color: #fff;
}

.home-banner > .banner-animated > .banner-detail > .method-course {
  font-size: 25px;
  color: #fff;
}

.home-banner > .banner-animated > div > .banner-content {
  display: flex;
  align-items: center;
  height: 550px;
  color: #ffffff;
}

.home-banner > .banner-animated > div > .banner-content > div {
  text-align: center;
  width: 100%;
}

.home-banner > .banner-animated > div > .banner-content > div > h2 {
  margin: 0;
  color: #fff;
  font-size: 35px;
}

.home-banner > .banner-animated > div > .banner-content > div > span {
  font-size: 16px;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form {
  margin-top: 50px;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group {
  width: 22.5%;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group {
    width: 100% !important;
    padding-left: 20px !important;
  }
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select option {
  color: #999;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select,
.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group input {
  width: 100%;
  font-size: 16px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  box-shadow: none;
  padding-left: 0;
  outline: none;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select::-webkit-input-placeholder,
.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select::-moz-placeholder,
.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select:-ms-input-placeholder,
.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group > select:-moz-placeholder,
.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form > .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form button {
  width: 8.5%;
}

@media screen and (max-width: 767px) {
  .home-banner > .banner-animated > div > .banner-content > div > .banner-form.courses-search-form > .container > form button {
    width: 100% !important;
    padding-left: 20px !important;
  }
}

.home-banner > .fast-links {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: -60px;
}

.home-banner > .fast-links.light > div > .fast-link {
  background: #ffffff !important;
  border: solid 1px #ccc;
  color: #999;
  padding: 25px 50px 25px 25px !important;
  height: 120px;
}

.home-banner > .fast-links.light > div > .fast-link:nth-child(n+2) {
  border-left: none !important;
}

.home-banner > .fast-links.light > div > .fast-link > img {
  height: 70px;
  position: absolute;
}

.home-banner > .fast-links.light > div > .fast-link > div {
  width: calc(100% - 50px);
  position: absolute;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.home-banner > .fast-links.light > div > .fast-link > div.with-icon {
  padding-left: 75px;
}

.home-banner > .fast-links > div > .fast-link {
  height: 120px;
  background: #6e0803;
  color: #ffffff;
  padding: 25px 50px 25px 25px !important;
  font-size: 22px;
}

.home-banner > .fast-links > div > .fast-link.gray {
  background: #666666;
}

.home-banner > .fast-links > div > .fast-link > img {
  height: 70px;
  position: absolute;
}

.home-banner > .fast-links > div > .fast-link > div {
  width: calc(100% - 50px);
  position: absolute;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.home-banner > .fast-links > div > .fast-link > div.with-icon {
  padding-left: 75px;
}
/*# sourceMappingURL=banner.css.map */