.home-banner {
  position: relative;
  >.banner-animated {
    height: 550px;
    margin-bottom: 60px;
    background-size: cover;
    >.banner-detail {
      >.name-course {
        padding-top: 400px;
        font-size: 40px;
        color: #fff;
      }
      >.method-course {
        font-size: 25px;
        color: #fff;
      }
    }
    >div {
      >.banner-content {
        display: flex;
        align-items: center;
        height: 550px;
        color: #ffffff;
        >div {
          text-align: center;
          width: 100%;
          >h2 {
            margin: 0;
            color: #fff;
            font-size: 35px;
          }
          >span {
            font-size: 16px;
          }
          >.banner-form {
            margin-top: 50px;
            &.courses-search-form {
              >.container>form {
                >.form-group {
                  width: 22.5%;
                  padding-right: 20px;
                  @media screen and (max-width: 767px) {
                    width: 100% !important;
                    padding-left: 20px !important;
                  }
                  >select option{
                    color: #999;
                  }

                  >select,
                  input {
                    width: 100%;
                    font-size: 16px;
                    background: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: solid 2px #ffffff;
                    color: #ffffff;
                    box-shadow: none;
                    padding-left: 0;
                    outline: none;
                    &::-webkit-input-placeholder {
                      /* Chrome/Opera/Safari */
                      color: #ffffff;
                    }
                    &::-moz-placeholder {
                      /* Firefox 19+ */
                      color: #ffffff;
                    }
                    &:-ms-input-placeholder {
                      /* IE 10+ */
                      color: #ffffff;
                    }
                    &:-moz-placeholder {
                      /* Firefox 18- */
                      color: #ffffff;
                    }
                  }
                }
                button {
                  width: 8.5%;
                  @media screen and (max-width: 767px) {
                    width: 100% !important;
                    padding-left: 20px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  >.fast-links {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: -60px;
    &.light {
      >div {
        >.fast-link {
          background: #ffffff !important;
          border: solid 1px #ccc;
          color: #999;
          padding: 25px 50px 25px 25px !important;
          height: 120px;
          &:nth-child(n+2) {
            border-left: none !important;
          }
          >img {
            height: 70px;
            position: absolute;
          }
          >div {
            width: calc(100% - 50px);
            position: absolute;
            vertical-align: middle;
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;
            &.with-icon {
              padding-left: 75px;
            }
          }
        }
      }
    }
    >div {
      >.fast-link {
        height: 120px;
        background: #6e0803;
        color: #ffffff;
        padding: 25px 50px 25px 25px !important;
        font-size: 22px;
        &.gray {
          background: #666666;
        }
        >img {
          height: 70px;
          position: absolute;
        }
        >div {
          width: calc(100% - 50px);
          position: absolute;
          vertical-align: middle;
          padding-left: 25px;
          padding-right: 25px;
          text-align: center;
          &.with-icon {
            padding-left: 75px;
          }
        }
      }
    }
  }
}
