.brochure-cont{
    position: fixed;
    right: 0;
    top: 100px;
    height: 50px;
    z-index: 9999;
    cursor: pointer;

    > a{
        > img{
            height: 50px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    } 
}