.car, .car > form {
  position: relative;
  top: -300px;

  >.make-a-purchase > form{
    >.total-div{
      font-weight: 700;
      font-size: 20px;
      padding: 20px;

      >.total{
        text-align: right;
      }
    }
  }

  >.make-a-purchase {
    position: relative;
    border: solid 1px;
    border-top: solid 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    top: 100px;
    bottom: 0;
    >.make-purchase, .make-purchase-item {
      padding-top: 125px;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 15px;
      >input {
        text-align: center;
        cursor: pointer;
        width: 100%;
        padding: 10px 30px 10px 30px;
        border: none;
        background: #75060f;
        color: white;
        font-size: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
      }
    }
    >.total-div {
      height: auto;
      padding: 20px;
      font-weight: 700;
      font-size: 20px;
      border-bottom: solid 1px;
      padding-bottom: 40px;
      >.total {
        padding-left: 15px;
      }
      >.total-amount {
        padding-right: 15px;
        text-align: right;
      }
    }
    >.subtotal {
      text-align: center;
      height: auto;
      padding-top: 20px;
      padding-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
      border-bottom: solid 1px;
      font-size: 20px;
      >.sub-total {
        font-weight: 700;
        padding-left: 0;
        @media (max-width: 992px) {
          padding-left: 35px;
        }
      }
      >.amount {
        font-weight: 700;
        padding-right: 35px;
        text-align: right;
      }
      >.coupon {
        margin-top: 20px;
        padding-left: 30px;
        >.code {
          >input {
            width: 65%;
            position: absolute;
            left: 15px;
            border: none;
            border-bottom: solid 1px #777;
            font-size: 12px !important;
            height: 35px;
            left: 5px;
          }
        }
        >.apply {
          padding-left: 0;
          >input {
            background: #313131;
            color: white;
            position: relative;
            left: 15px;
            border: none;
            height: 35px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
          }
        }
      }
      >.apply {
        margin-top: 20px;
      }
    }
  }
  >.car-list {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    height: auto;
    padding: 0;
    padding-bottom: 50px;
    background: #fff;
    >.body-noitemcart {
      height: 300px;
      text-align: center;
      padding: 25px;
      >h2 {
        color: #75060f !important;
        font-size: 35px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
      }
      >span {
        font-size: 20px;
      }
      >p {
        font-size: 20px;
        margin-top: 25px;
      }
    }
    >.body {
      >.cart-element {
        >.item-car {
          padding-top: 40px;
          padding-left: 0;
          >span {
            font-weight: 700;
            padding-top: 5px;
          }
          >select {
            border: none;
            border-bottom: solid 1px;
            line-height: 15px;
            height: 30px;
          }
        }
        >.delete {
          cursor: pointer;
          position: absolute;
          bottom: 25px;
          right: 25px;
          >span {
            font-weight: 700;
          }
        }
        >.image-product {
          >.image {
            position: relative;
            >.status {
              width: 50px;
              position: absolute;
              right: 15px;
              top: 40px;
              text-align: center;
              color: #fff;
              background: #39b448;
            }
            >img {
              width: 100%;
              height: 170px;
              padding-left: 25px;
              padding-top: 40px;
            }
          }
          >.product-detail {
            padding-top: 45px;
            padding-left: 0;
            >.title {
              font-weight: 700;
            }
            >.rating {
              >.complete {
                color: #fb9c0b;
              }
              >.empty {
                color: #969696;
              }
            }
          }
        }
      }
    }
    >.header {
      margin-top: 0;
      width: 100%;
      height: 50px;
      background: #c3c3c3;
      line-height: 50px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
      >.car-items {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 15px;
        font-weight: 700;
        >.item-car {
          padding-left: 10px;
        }
      }
    }
  }
}


.make-purchase-btn > input{
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 10px 30px 10px 30px;
  border: none;
  background: #75060f;
  color: white;
  font-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}