 .checkout-page {

  margin-top: 60px;

   >.car-list {
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
     position: absolute;
     height: 265px;
     top: 1050px;
     padding: 0;
     background: #fff;
     >.body {
       >.item-car {
         padding-top: 40px;
         padding-left: 0;
        
         >span {
           font-weight: 700;
           padding-top: 5px;
         }
         >span {
           border: none;
           line-height: 15px;
           height: 30px;
         }
       }
       >.delete {
         position: absolute;
         bottom: 25px;
         right: 25px;
         cursor: pointer;
         position: absolute;
         bottom: 25px;
         right: 25px;
         >span {
           font-weight: 700;
         }
       }
       >.image-product {
         >.image {
           position: relative;
           >.status {
             width: 50px;
             position: absolute;
             right: 15px;
             top: 40px;
             text-align: center;
             color: #fff;
             background: #39b448;
           }
           >img {
             width: 100%;
             height: 170px;
             padding-left: 25px;
             padding-top: 40px;
           }
         }
         >.product-detail {
           padding-top: 45px;
           padding-left: 0;
           >.title {
             font-weight: 700;
           }
           >.rating {
             >.complete {
               color: #fb9c0b;
             }
             >.empty {
               color: #969696;
             }
           }
         }
       }
     }
     >.header {
       margin-top: 0;
       width: 100%;
       height: 50px;
       background: #c3c3c3;
       line-height: 50px;
       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
       >.car-items {
         margin-left: 30px;
         margin-right: 30px;
         font-size: 15px;
         font-weight: 700;
         >.item-car {
           padding-left: 10px;
         }
       }
     }
   }
   >.checkout {
     margin-bottom: 200px;
     >.facturation-details {
       text-align: center;
       margin-bottom: 200px;
       >form {
         padding-top: 50px;
         >.form-group {
           >input {
             border: none;
             border-bottom: solid 1px #ddd;
             width: 100%;
             padding-top: 40px;
             padding-right: 25px;
             outline: none;
           }
         }
       }
     }
   }
   .paymentmethods-container {
     padding-bottom: 200px;
     padding-top: 150px;
     position: relative;
     width: 100% !important;
     background: #373334;
     >.paymentmethods {
       color: white;
       text-align: center;
       >h2 {
         margin-bottom: 50px !important;
       }
       >form {
         padding-top: 50px;
         >.form-group {
           >input {
             background: transparent;
             border: none;
             border-bottom: solid 1px #ddd;
             width: 100%;
             padding-top: 40px;
             padding-right: 25px;
             outline: none;
           }
         }
       }
     }
   }
   .custom-checkbox {
     float: left;
     margin-top: 20px;
     >label {
       height: 40px;
       line-height: 40px;
       >span {
         padding-top: 20px;
       }
     }
   }
   .custom-checkbox>[type="checkbox"],
   .custom-checkbox>label {
     margin-bottom: 0px !important;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked),
   .custom-checkbox>[type="checkbox"]:checked {
     position: absolute;
     left: -9999px;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+label,
   .custom-checkbox>[type="checkbox"]:checked+label {
     position: relative;
     padding-left: 45px;
     cursor: pointer;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+label:before,
   .custom-checkbox>[type="checkbox"]:checked+label:before {
     content: '';
     position: absolute;
     left: 0;
     width: 40px;
     height: 40px;
     border: 2px solid #ddd;
     background: #ffffff;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+.light:before,
   .custom-checkbox>[type="checkbox"]:checked+.light:before {
     border: 2px solid #fff;
     background: transparent;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+label:after,
   .custom-checkbox>[type="checkbox"]:checked+label:after {
     font: normal normal normal 12px/1 'Glyphicons Halflings';
     content: '\e013';
     position: absolute;
     margin-top: -32px;
     left: 6px;
     color: #666;
     font-size: 25px;
     &.light {
       color: #fff;
     }
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+.light:after,
   .custom-checkbox>[type="checkbox"]:checked+.light:after {
     color: #fff;
   }
   .custom-checkbox>[type="checkbox"]:not(:checked)+label:after {
     opacity: 0;
     transform: scale(0);
   }
   .custom-checkbox>[type="checkbox"]:checked+label:after {
     opacity: 1;
     transform: scale(1);
   }
   .custom-checkbox>[type="checkbox"][data-indeterminate]+label:after,
   .custom-checkbox>[type="checkbox"][data-indeterminate]+label:after {
     content: '\2212';
     left: 2px;
     opacity: 1;
     transform: scale(1);
   }
   .custom-checkbox>[type="checkbox"]:disabled:not(:checked)+label:before,
   .custom-checkbox>[type="checkbox"]:disabled:checked+label:before {
     box-shadow: none;
     background-color: #eeeeee;
     border-color: #eeeeee;
     cursor: not-allowed;
     opacity: 1;
     color: #dadada;
   }
   .custom-checkbox>[type="checkbox"]:disabled:checked+label:after {
     color: #dadada;
     cursor: not-allowed;
   }
   .custom-checkbox>[type="checkbox"]:disabled+label {
     color: #aaa;
     cursor: not-allowed;
   }
   .custom-checkbox>[type="checkbox"]:checked:focus+label:before,
   .custom-checkbox>[type="checkbox"]:not(:checked):focus+label:before {
     border: 1px solid #66afe9;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   }
   .custom-checkbox>label:hover:before {
     border: 1px solid #88D2FF !important;
   }
   .custom-checkbox>[type="checkbox"]:disabled:not(:checked)+label:hover:before,
   .custom-checkbox>[type="checkbox"]:disabled:checked+label:hover:before {
     border: 1px solid #E4E4E4 !important;
   }
 }


 