.contact-form {
  width: 100%;
  background-image: url("/images/contact-form.png");
  background-size: cover;
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding: 50px 0;
  height: 450px;
}

.contact-form > .back-shadow {
  background: #000000;
  opacity: .4;
  position: absolute;
  width: 100%;
  height: 450px;
  left: 0;
  top: 0;
  z-index: 3;
}

.contact-form > .content {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.contact-form > .content > .container > h3 {
  font-weight: 700;
}

.contact-form > .content > .container > h3, .contact-form > .content > .container h5 {
  text-align: center;
}

.contact-form > .content > .container > form {
  margin-top: 50px;
}

.contact-form > .content > .container > form .form-group {
  margin-bottom: 30px;
}

.contact-form > .content > .container > form .form-group input {
  border: none;
  background: transparent;
  color: #fff;
  border-bottom: solid 3px #fff;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.contact-form > .content > .container > form .form-group input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

.contact-form > .content > .container > form .form-group input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

.contact-form > .content > .container > form .form-group input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

.contact-form > .content > .container > form .form-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.contact-form > .content > .container > form .form-group input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
/*# sourceMappingURL=contact.css.map */