.container-contact {
  padding-top: 40px;
  padding-bottom: 80px;
    >h2 {
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center;
  }
  >.country{
    text-align: justify;
    >.address-box{
      border: none;
      >.map{
        padding: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;        
      }
      >img{
        width: 100%;
      }
      >.address{
        padding-top: 10px;
        color:#777777;
        >h3{
          font-weight: 700;
          padding-top: 250px;
        }
        >span{
          font-weight: 700;
        }
      }
    }
  }
}
