.contact-form{
    width: 100%;
    background-image: url('/images/contact-form.png');
    background-size: cover;
    position: relative;
    z-index: 2;
    color: #ffffff;
    padding: 50px 0;
    height: 450px;

    > .back-shadow{
        background: #000000;
        opacity: .4;
        position: absolute;
        width: 100%;
        height: 450px;
        left: 0;
        top: 0;
        z-index: 3; 
    }

    > .content{
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 100%;

        > .container{
            >h3{
                font-weight: 700;
            }

            >h3, h5{
                text-align: center;
            }

            >form{
                margin-top:50px;

                .form-group{
                    margin-bottom: 30px;

                    input{
                        border: none;
                        background: transparent;
                        color: #fff;
                        border-bottom: solid 3px #fff;
                        width: 100%;
                        outline: none;
                        font-size: 16px;

                        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                            color:    #fff;
                        }
                        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                           color:    #fff;
                           opacity:  1;
                        }
                        &::-moz-placeholder { /* Mozilla Firefox 19+ */
                           color:    #fff;
                           opacity:  1;
                        }
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                           color:    #fff;
                        }
                        &::-ms-input-placeholder { /* Microsoft Edge */
                           color:    #fff;
                        }
                    }
                }
            }
        }
    }
}