.body-courses {
  padding-bottom: 80px;
}

.title-courses {
  text-align: center;
  padding: 50px;
}

.ntce-course {
  padding-right: 15px !important;
  padding-left: 0 !important;
    &:nth-child(3n+0) {
    padding-right: 0 !important;
    padding-left: 15px !important;
  }
  &:nth-child(3n+2) {
    padding: 0 7.5px !important;
  }
  >.thumbnail{
    position: relative !important;
    padding: 0 !important;
    padding-bottom: 10px !important;

    > img{
      height: 250px;

    }
    >.type {
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      color: #fff;
      >div {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-top: 4px;
        &.blue {
          background-color: #0771bc;
        }
        &.red {
          background-color: #770411;
        }
      }
    }
    >.caption {
      position: relative;
      height: 180px;
      
      >.instructor {
        padding-bottom: 30px;
      }
    }
    >img {
      width: 100%;
    }
    >.ranking-course {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 4px;
      border-top: 1px solid #ddd;
      >.ranking {
        text-align: right;
        color: #fb9c0b;
        padding: 0;
      }
      >.comments {
        color: gray;
        padding: 0;
        img:nth-child(2) {
          margin-left: 15px;
        }
        >img {
          width: 20px;
        }
      }
    }
  }
}

.rating-c{
  text-align: center;
  padding-top: 15px;

  > i{
    font-size:44px;
    color: #ccc;
  }

  > .yellow-star{
    color: #fb9c0b;
  }

  > .form-control, a{
    margin-top: 15px;
  }
}

.calification, .rating{
  > i{
    color: #ccc;
  }

  > .yellow-star{
    color: #fb9c0b;
  }
}