.course-info {
  margin-top: 90px;
}

.course-description {
  position: relative;
  @media (max-width: 992px) {
    padding-top: 0;
  }
  >.buy-box {
    @media (max-width: 992px) {
      width: 60%;
      margin-left: 20%;
      position: relative;
      top: 0;
    }
    @media (max-width: 768px) {
      width: 95%;
      margin-left: 5%;
    }
    >.info {
      top: 60px;
      >.graduates {
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.duration {
        top: 15px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.video {
        top: 30px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.certificate {
        top: 45px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
    }
    >.buy {
      border: none;
      width: 50%;
      right: 25%;
      left: 25%;
      text-align: center;
      background: #6e0803;
      height: 70px;
      position: absolute;
      top: 21%;
      color: #fff;
      line-height: 75px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
      >span {
        line-height: 50px;
        font-size: 30px;
      }
    }
    background: #fff;
    top: -120px;
    position: absolute;
    right: 15px;
    width: 30%;
    height: 400px;
    border: solid 1px #343434;
    >.head {
      text-align: center;
      color: #fff;
      height: 120px;
      width: 100%;
      background: #343434;
      position: relative;
      >h4 {
        line-height: 90px;
        font-size: 30px;
        margin: 0;
        >span {
          font-size: 20px;
        }
      }
    }
  }
  >.buy-box-subscription {
    @media (max-width: 992px) {
      width: 60%;
      margin-left: 20%;
      position: relative;
      top: 0;
    }
    @media (max-width: 768px) {
      width: 95%;
      margin-left: 5%;
    }
    >.info {
      top: 60px;
      >.graduates {
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.duration {
        top: 15px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.video {
        top: 30px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
      >.certificate {
        top: 45px;
        >img {
          max-height: 25px;
        }
        >span {
          margin-left: 10px;
          font-size: 20px;
          padding-top: 10px;
        }
      }
    }
    >.buy {
      border: none;
      width: 50%;
      right: 25%;
      left: 25%;
      text-align: center;
      background: #6e0803;
      height: 70px;
      position: absolute;
      top: 21%;
      color: #fff;
      line-height: 75px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
      >span {
        line-height: 50px;
        font-size: 30px;
      }
    }
    background: #fff;
    top: -20px;
    position: absolute;
    right: 15px;
    width: 30%;
    height: 300px;
    border: solid 1px #343434;
  }
  >h2 {
    font-weight: 700;
    padding-bottom: 20px;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  text-align: justify;
  padding-top: 50px;
  >.description {
    text-align: justify;
    padding: 0 !important;
  }
  >hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
}

.separator {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.instructor {
  >h2 {
    font-weight: 600;
    padding-bottom: 20px;
    color: #3c3c3c;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  >.photo-instructor {
    padding-left: 0 !important;
    >.instructor-photo {
      >img {
        width: 60%;
        @media (max-width: 992px) {
          margin: 0 auto;
        }
      }
    }
  }
  >.instructor-description {
    padding-left: 0 !important;
    >h2 {
      @media (max-width: 992px) {
        text-align: center;
      }
      color: #770411;
      margin-bottom: 5px !important;
      font-weight: 700;
      font-size: 24px;
    }
    >div {
      >h3 {
        @media (max-width: 992px) {
          text-align: center;
        }
        margin-top: 5px !important;
        font-size: 20px;
        color: #3c3c3c;
      }
      >p {
        @media (max-width: 992px) {
          text-align: justify;
        }
      }
    }
  }
}

.rating-container {
  @media (max-width: 992px) {
    padding: 0;
  }
  >h2 {
    font-weight: 700;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  >.calification {
    @media (max-width: 992px) {
      padding: 0;
    }
    padding-top: 20px;
    text-align: center;
    >.rating {
      >.complete {
        color: #fb9c0b;
      }
      >.empty {
        color: #969696;
      }
    }
    >h1 {
      font-weight: 700;
    }
  }
  >.releases {
    @media (max-width: 992px) {
      padding: 0;
      padding-top: 20px
    }
    padding-top: 20px;
    padding-right: 0;
    >div {
      padding-right: 0;
      >.rating-progress {
        width: 80%;
        float: left;
        @media (max-width: 992px) {
          width: 45%;
        }
      }
      >.rating-stars {
        padding-left: 30px;
        width: 20%;
        float: left;
        @media (max-width: 992px) {
          width: 55%;
        }
        >.rating {
          >.complete {
            color: #fb9c0b;
          }
          >.empty {
            color: #969696;
          }
          >span {
            padding-left: 30px;
            font-weight: 700;
            color: #770411;
          }
        }
      }
    }
  }
}

.container-comments {
  padding-bottom: 40px;
  >h2 {
    font-weight: 700;
    padding-bottom: 20px;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  >.comment-box {
    @media (max-width: 992px) {
      padding: 0;
    }
    padding-top: 20px;
    >h2 {
      font-weight: 700;
      padding-bottom: 20px;
    }
    >.user-info {
      @media (max-width: 992px) {
        padding: 0;
      }
      >h2 {
        color: #770411;
        margin-bottom: 5px !important;
        margin-top: 0;
        font-weight: 700;
        font-size: 20px;
      }
      >h4 {
        margin-top: 5px !important;
        font-size: 16px;
        color: #a4a4a4;
      }
    }
    >.comment {
      @media (max-width: 992px) {
        padding: 0;
      }
      >.calification {
        padding-left: 0;
        >.complete {
          color: #fb9c0b;
        }
        >.empty {
          color: #969696;
        }
        >span {
          padding-left: 10px;
          color: #a4a4a4;
        }
      }
      >.text-comment {
        padding-top: 10px;
        padding-left: 0;
        text-align: justify;
      }
    }
  }
}

.add-comment-subs {
  padding-left: 25% !important;
  padding-bottom: 40px;
  >button {
    background: #6e0803;
    border: none;
    height: 60px;
    color: #fff;
    font-size: 25px;
    width: 50%;
  }
}

.add-comment {
  padding-bottom: 40px;
  >h2 {
    font-weight: 700;
    padding-bottom: 20px;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  >p {
    color: #a4a4a4;
  }
}

//Modal Styles
.modal {
  >.modal-header {
    >h4 {
      color: #6e0803 !important;
    }
  }
  >.modal-dialog {
    >.modal-content {
      >.content {
        height: 300px;
        >.modal-body {
          text-align: justify;
          padding-top: 10%;
          padding-bottom: 60%;
          >.modal-form {
            >.buttonModal {
              height: 50px;
              background-color: #fff;
              border-color: #ccc;
              width: 49%;
              background: #6e0803 !important;
              color: #fff;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
              border: none;
            }
            >.calification {
              padding: 0;
              font-size: 30px;
              >.complete {
                color: #fb9c0b;
              }
              >.empty {
                color: #969696;
              }
            }
            >form {
              >.message {
                height: 60px;
              }
              >textarea {
                width: 100%;
              }
              >input {
                padding-top: 25px !important;
                width: 100% !important;
                border: none !important;
                background: transparent;
                border-bottom: solid 1px #ccc !important;
                outline: none;
              }
            }
          }
        }
      }

      > form{
      >.modal-body {
        text-align: justify;
        padding-top: 10%;
        padding-bottom: 60%;
        >.modal-form {
          >.buttonModal {
            height: 50px;
            background-color: #fff;
            border-color: #ccc;
            width: 49%;
            background: #6e0803 !important;
            color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
            border: none;
          }
          >.calification {
            padding: 0;
            font-size: 30px;
            >.complete {
              color: #fb9c0b;
            }
            >.empty {
              color: #969696;
            }
          }
          
            >.message {
              height: 60px;
            }
            >textarea {
              width: 100%;
            }
            >input {
              padding-top: 25px !important;
              width: 100% !important;
              border: none !important;
              background: transparent;
              border-bottom: solid 1px #ccc !important;
              outline: none;
            }
          }
        
      }
      >.modal-footer {
        border: none !important;
        >button {
          background: #6e0803 !important;
          color: #fff;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
          border: none;
        }
      }
    }
    }
  }
}
