.panel-default {
  border: none !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  padding: 7.5px !important;
  margin-bottom: 15px !important;

  > .panel-heading{
      background: #fff !important;
  }

}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color:#777777 !important;
}