.footer-general {
  padding-top: 45px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left;
}

.text-copyright {
  padding-top: 100px;
  text-align: left;
}

.footer-pages ul {
  list-style: none;
}

.footer-pages ul > li > a {
  text-decoration: none;
  color: gray;
}

.footer-pages ul > li > a:hover {
  color: #6e0803;
}
/*# sourceMappingURL=footer-general.css.map */