.footer-general {
    
    padding-top: 45px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
  
}
 .text-copyright {

    padding-top: 100px;
    text-align: left;
    }
.footer-pages ul{
    list-style: none;

    > li{
        > a{
            text-decoration: none;
            color: gray;

            &:hover{
               color: #6e0803;
            }
        }
    }
}