.partners-container{
    width: 100%;
    background: #fff;
    text-align: center;
    padding-bottom: 50px;

    > .container{
        > div{
            > h3{
                margin-top: 50px;
                font-weight: 700;
            }
        }
        
    
        > div{
                >img{
                    margin-top: 40px;
                    height: 75px;
                }
        }
    }

    
}