.ntce-form-control {
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-top: none;
  border-bottom: solid 2px #333;
  box-shadow: none;
  padding-left: 0;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
  position: relative;
  width: 100%;
  background: transparent;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.ntce-form-control:focus {
  outline: none;
  box-shadow: none;
  opacity: 1;
  border-color: #3c0402 !important;
}

.ligth {
  color: #0CF !important;
}

.footer-mini {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  font-size: 12px;
}

.footer-mini > p {
  text-align: center;
}

.navbar-brand {
  padding: 0px !important;
}

.navbar-brand > img {
  padding: 7px 15px !important;
  height: 100% !important;
}

.navbar-right > li > a {
  color: #6e0803 !important;
}

.not-found {
  width: 100%;
  padding: 25px;
  background: #ccc;
  margin-top: 75px;
  border-radius: 4px;
  text-align: center;
  font-weight: 800;
}

.not-found > i {
  font-size: 40px;
}
/*# sourceMappingURL=shared.css.map */