.talker {
  display: inline-block;
  width: 100%;
  background-image: url('/images/talker.jpg');
  background-size: cover;
  height: 350px;
  position: relative;
  z-index: 2;
  color: #ffffff;
  >.back-shadow {
    background: #000000;
    opacity: .4;
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    z-index: 3;
  }
  >.content {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    >.post-banner-content {
      >.banner-content {
        display: flex;
        align-items: center;
        height: 350px;
        color: #ffffff;
        >div {
          text-align: center;
          width: 100%;
          >h2 {
            margin: 0;
            color: #fff;
            font-size: 35px;
          }
          >span {
            font-size: 16px;
          }
          >.banner-form {
            margin-top: 50px;
            &.courses-search-form {
              >.container>form {
                >.form-group {
                  width: 22.5%;
                  padding-right: 20px;
                  @media screen and (max-width: 767px) {
                    width: 100% !important;
                    padding-left: 20px !important;
                  }
                  >select,
                  input {
                    width: 100%;
                    font-size: 16px;
                    background: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: solid 2px #ffffff;
                    color: #ffffff;
                    box-shadow: none;
                    padding-left: 0;
                    outline: none;
                    &::-webkit-input-placeholder {
                      /* Chrome/Opera/Safari */
                      color: #ffffff;
                    }
                    &::-moz-placeholder {
                      /* Firefox 19+ */
                      color: #ffffff;
                    }
                    &:-ms-input-placeholder {
                      /* IE 10+ */
                      color: #ffffff;
                    }
                    &:-moz-placeholder {
                      /* Firefox 18- */
                      color: #ffffff;
                    }
                  }
                }
                a {
                  // width: 15.5%;
                  font-size: 25px;
                  @media screen and (max-width: 767px) {
                    width: 100% !important;
                    padding-left: 20px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
