.testimonials-carousel{
    > .carousel-inner{
        > .item{
            height: 400px;
            line-height: 400px;
            background: #e4e4e4;

            >.carousel-caption{
                height: 400px;
                color: #999;
                text-shadow: none;
                font-size: 18px;
                line-height: 20px;
                top:20%;
                
                >.quote{
                    width: 100px;
                    margin-top:-5px;
                    position: absolute;
                    z-index: 1;
                    opacity: 0.3;
                    left: 44%;
                }
                >img{
                    width: 100px;
                    margin-top:70px;
                    
                   

                }

                >.testimonial-name{
                    font-size: 12px;
                }
            }
        }
    }

    > .carousel-control{
        vertical-align: middle;
        line-height: 400px;
        color: #6e0803;
        background: #e4e4e4;
        opacity: 1;
    }
}