.trans-page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.trans-page > .trans-bg {
  z-index: 2;
  background-image: url("/images/auth/transition-bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.trans-page > .trans-container {
  position: relative;
  z-index: 3;
  top: 30%;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
}

.trans-page > .trans-container > img {
  margin: 0 auto;
}
/*# sourceMappingURL=trans-page.css.map */