<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">NTCE Admin panel</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin/dashboard/#!/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">
              Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/dashboard/#!/users">
            <i class="fa fa-fw fa-group"></i>
            <span class="nav-link-text">
              Usuarios</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/dashboard/#!/courses">
            <i class="fa fa-fw fa-paste"></i>
            <span class="nav-link-text">
              Cursos</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/dashboard/#!/news">
            <i class="fa fa-fw fa-newspaper-o"></i>
            <span class="nav-link-text">
              Newsletters</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="/admin/dashboard/#!/subscriptions">
            <i class="fa fa-fw fa-user-plus"></i>
            <span class="nav-link-text">
              Suscripciones a cursos</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
            <a class="nav-link" href="/admin/dashboard/#!/sales">
              <i class="fa fa-fw fa-cc-paypal"></i>
              <span class="nav-link-text">
                Ventas</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
            <a class="nav-link" href="/admin/dashboard/#!/bookings">
              <i class="fa fa-fw fa-address-book-o"></i>
              <span class="nav-link-text">
                Reservas</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
            <a class="nav-link" href="/admin/dashboard/#!/brochure">
              <i class="fa fa-fw fa-file-pdf-o"></i>
              <span class="nav-link-text">
                Actualizar brochure</span>
            </a>
          </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link" href="#/" target="_blank">
              <i class="fa fa-fw fa-external-link"></i>
              Go to Site</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#/logout">
            <i class="fa fa-fw fa-sign-out"></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </nav>
