<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Listado de reservas</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <input placeholder="Filtrar resultados" ng-init="bookingFilter" ng-model="bookingFilter.$" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
                    </div>
                </div>
                <table style="margin-top:15px" id="bookingTable" si-table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th sort-by="id">Código de reserva</th>
                            <th sort-by="name">Nombre</th>
                            <th sort-by="email">Email</th>
                            <th sort-by="phone">Teléfono</th>
                            <th sort-by="city">Ciudad</th>
                            <th sort-by="bussiness">Compañía</th>
                            <th sort-by="createdAt">Fecha de compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="small-table" si-sortable ng-repeat="b in bookings | filter:bookingFilter">
                            <td><a ng-href="/admin/dashboard/#!/bookings/path?id={{b.id}}">{{b.id}}</a></td>
                            <td>{{b.name}}</td>
                            <td>{{b.email}}</td>
                            <td>{{b.phone}}</td>
                            <td>{{b.city}}</td>
                            <td>{{b.bussiness}}</td>
                            <td>{{b.createdAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>