<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Reserva [{{booking.id}}]</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <!-- subscription -->
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Información de la reserva:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{booking.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Creado el: </strong>
                                    {{booking.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre: </strong>
                                    {{booking.name}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Email: </strong>
                                    {{booking.email}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Teléfono: </strong>
                                    {{booking.phone}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Ciudad: </strong>
                                    {{booking.city}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Compañía: </strong>
                                    {{booking.bussiness}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <textarea class="text-muted form-control" style="width:100%" rows="3">Mensaje: {{booking.city}}</textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- course -->
                <div class="card" style="margin-top: 15px; margin-bottom:15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Curso(s) requerido:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Id del curso: </strong>
                                    {{booking.course.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre del curso: </strong>
                                    {{booking.course.name}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                    <p class="text-muted">
                                        <strong>Ciudad: </strong>
                                        {{booking.course.city}}
                                    </p>
                                </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Fecha del curso: </strong>
                                    {{booking.course.date}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>