<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Actualización de brochure</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <!-- subscription -->
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Cargar nuevo brochure al sistema:</h5>
                        </div>
                        <form ng-submit="submit()" name="form">
                            <div class="form-control col-md-12" style="text-align:center;">
                                <label class="control-label">Busque un archivo(PDF) en su ordenador para cargar:</label>
                                <div class="col-md-12">
                                    <input required type="file" class="form-control" ngf-select ng-model="brochure" name="file"
                                    ngf-max-size="15MB" accept="application/pdf"/>
                                </div>
                                <div class="col-md-12">
                                    <input style="margin-top:50px;" type="submit" class="btn btn-primary" value="Actualizar ahora">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>