<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Cursos</li>
    </ol>

    <!-- Icon Cards -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <input placeholder="Filtrar resultados" ng-init="courseFilter" ng-model="courseFilter.$" class="form-control">
          </div>
          <div class="col-md-2">
            <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
          </div>
          <div class="col-md-2">
            <a type="button" class="btn btn-block" href="/admin/dashboard/#!/courses/new">Crear</a>
          </div>
        </div>
        <table style="margin-top:15px" id="coursesTable" si-table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th sort-by="id">#</th>
              <th sort-by="name">Nombre</th>
              <th sort-by="price">Precio</th>
              <th sort-by="online">Modalidad</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small-table" si-sortable ng-repeat="course in courses | filter:courseFilter">
              <td style="text-align:center;"><img ng-src="{{course.poster}}" width="100" height="70"></td>
              <td>{{course.name}}</td>
              <td>${{course.globalPrice}}</td>
              <td>
                <span ng-if="course.online">Online</span>
                <span ng-if="!course.online">Presencial</span>
              </td>
              <td>
                <div class="btn-group">
                  <a style="background:#ddd;" class="btn btn-default btn-sm" ng-href="/admin/dashboard/#!/courses/edit/path?id={{course.id}}">Editar</a>
                  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" style="padding:10px;">
                    <li>
                      <a href="#">Eliminar</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>
