<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Crear nuevo curso</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Crear nuevo curso</h2>
                    </div>
                    <div class="panel-body">
                        <form class="row" ng-submit="submit()" name="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre del curso:</label>
                                    <input type="text" class="form-control" ng-model="course.name" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nombre del curso (Ingles):</label>
                                    <input type="text" class="form-control" ng-model="course.englishName">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Descripción:</label>
                                    <input type="text" class="form-control" ng-model="course.description">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Descripción (Ingles):</label>
                                    <input type="text" class="form-control" ng-model="course.englishDescription">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Instructor:</label>
                                    <select class="form-control" ng-model="course.instructor">
                                        <option ng-repeat="i in instructors" value={{i.id}}>{{i.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Precio (Bs):</label>
                                    <input type="number" class="form-control" ng-model="course.price" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Precio (USD$):</label>
                                    <input type="number" class="form-control" ng-model="course.globalPrice" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Poster:</label>
                                    <input type="file" class="form-control" ngf-select ng-model="poster" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                                        ngf-max-size="5MB" ngf-min-height="100" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Duración (horas):</label>
                                    <input type="number" class="form-control" ng-model="course.duration" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Fecha del curso:</label>
                                    <input type="date" class="form-control" ng-model="course.date" value="{{now.year + '-' + now.month + '-' + now.day}}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Habilitar al crear:</label>
                                    <input type="checkbox" checked ng-model="course.activated" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Online:</label>
                                    <input type="checkbox" ng-model="course.online" />
                                </div>
                                <div ng-show="!course.online" class="form-group" style="border: solid 1px #ddd; border-radius: 4px; padding: 5px 10px;">
                                    <label class="control-label col-md-12">País:</label>
                                    <div class="col-md-6" ng-repeat="co in workCountries">
                                        <label ng-click="showModel()">
                                            <input type="radio" ng-model="course.country" ng-value="co.id"> {{co.name}}
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="!course.online" class="form-group">
                                    <label class="control-label">Ciudad:</label>
                                    <input type="text" class="form-control" ng-model="course.city" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Marcar como novedad:</label>
                                    <input type="checkbox" ng-model="course.starred" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Habilitar reservaciones:</label>
                                    <input type="checkbox" ng-model="course.reservations" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <div class="form-group">
                                    <label class="control-label">¿A quien va dirigido?:</label>
                                    <text-angular ng-model="course.objetivePublic"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">¿A quien va dirigido? (Ingles):</label>
                                    <text-angular ng-model="course.englishObjetivePublic"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Metodología:</label>
                                    <text-angular ng-model="course.methodology"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Metodología (Ingles):</label>
                                    <text-angular ng-model="course.englishMethodology"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Recursos:</label>
                                    <text-angular ng-model="course.resources"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Recursos (Ingles):</label>
                                    <text-angular ng-model="course.englishResources"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contenidos:</label>
                                    <text-angular ng-model="course.contents"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contenidos (Ingles):</label>
                                    <text-angular ng-model="course.englishContents"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Módulos:</label>
                                    <text-angular ng-model="course.modules"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Módulos (Ingles):</label>
                                    <text-angular ng-model="course.englishModules"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">¿Que esperar del curso?:</label>
                                    <text-angular ng-model="course.whatExpect"></text-angular>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">¿Que esperar del curso? (Ingles):</label>
                                    <text-angular ng-model="course.englishWhatExpect"></text-angular>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar curso" class="btn btn-primary">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>