<div ng-include="'./admin/templates/partials/navbar.html'" ></div>
<div ng-include="'./admin/templates/partials/content.html'" ></div>
<div ng-include="'./admin/templates/partials/footer.html'" ></div>