<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Newsletters</li>
    </ol>

    <!-- Icon Cards -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-10">
            <input placeholder="Filtrar resultados" ng-init="newsFilter" ng-model="newsFilter.$" class="form-control">
          </div>
          <div class="col-md-2">
            <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
          </div>
        </div>
        <table style="margin-top:15px" id="newsTable" si-table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th sort-by="id">#</th>
              <th sort-by="name">Nombre</th>
              <th sort-by="price">Email</th>
              <th sort-by="online">Fecha de subscripción</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small-table" si-sortable ng-repeat="s in subscribers | filter:newsFilter">
              <td>{{s.id}}</td>
              <td>{{s.name}}</td>
              <td>{{s.emailAddress}}</td>
              <td>{{s.createdAt}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>
