<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Listado de ventas via gateway de pago</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <input placeholder="Filtrar resultados" ng-init="salesFilter" ng-model="salesFilter.$" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
                    </div>
                </div>
                <table style="margin-top:15px" id="salesTable" si-table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th sort-by="id">Código de venta</th>
                            <th sort-by="user.name">Usuario</th>
                            <th sort-by="currency">Moneda</th>
                            <th sort-by="amount">Monto de pago</th>
                            <th sort-by="checked">Revisado</th>
                            <th sort-by="createdAt">Fecha de compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="small-table" si-sortable ng-repeat="s in sales | filter:salesFilter">
                            <td><a ng-href="/admin/dashboard/#!/sales/path?id={{s.id}}">{{s.id}}</a></td>
                            <td>{{s.user.name}}</td>
                            <td>{{s.currency}}</td>
                            <td>
                               USD$ {{s.amount}}
                            </td>
                            <td ng-if="s.checked" class="text-success">
                                <div class="checked"><i class="fa fa-check"></i> Revisado</div>
                            </td>
                            <td ng-if="!s.checked" class="text-danger">
                                <div class="no-checked"><i class="fa fa-close"></i> Sin revisar</div>
                            </td>
                            <td>{{s.createdAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>