<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Venta via gateway de pago [{{sale.id}}]</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <!-- subscription -->
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Información de la venta:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{sale.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Creado el: </strong>
                                    {{sale.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-muted">
                                    <strong>Revisado: </strong>
                                    <span ng-if="sale.checked" class="text-success">{{sale.checked}}</span>
                                    <span ng-if="!sale.checked" class="text-danger">{{sale.checked}}</span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm" ng-if="!sale.checked" ng-click="check(true)">Marcar como revisado</button>
                                <button class="btn btn-sm" ng-if="sale.checked" ng-click="check(false)">Marcar como no revisado</button>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Moneda: </strong>
                                    {{sale.currency}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Monto: </strong>
                                    {{sale.amount}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- user -->
                <div class="card" style="margin-top: 15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Datos de usuario:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{sale.user.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre: </strong>
                                    {{sale.user.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Email: </strong>
                                    {{sale.user.email}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Teléfono: </strong>
                                    {{sale.user.phone}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Registrado desde: </strong>
                                    {{sale.user.createdAt}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- course -->
                <div class="card" style="margin-top: 15px; margin-bottom:15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Curso(s) pagado(s):</h5>
                        </div>
                        <form class="form-inline" ng-repeat="c in sale.paymentItems">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{c.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Monto: </strong>
                                    {{c.amount}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Moneda: </strong>
                                    {{c.currency}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Id del curso: </strong>
                                    {{c.course}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Creado el: </strong>
                                    {{c.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-12" ng-if="sale.paymentItems.length > 1">
                                <hr>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>