<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Suscripciones a cursos</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <!-- subscription -->
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Información de suscripción:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{subscription.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Creado el: </strong>
                                    {{subscription.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-muted">
                                    <strong>Active: </strong>
                                    <span ng-if="subscription.active" class="text-success">{{subscription.active}}</span>
                                    <span ng-if="!subscription.active" class="text-danger">{{subscription.active}}</span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm" ng-if="!subscription.active" ng-click="lock(true)">Activar esta suscripción</button>
                                <button class="btn btn-sm" ng-if="subscription.active" ng-click="lock(false)">Bloquear esta suscripción</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- user -->
                <div class="card" style="margin-top: 15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Datos de usuario suscriptor:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{subscription.user.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre: </strong>
                                    {{subscription.user.createdAt}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Email: </strong>
                                    {{subscription.user.email}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Teléfono: </strong>
                                    {{subscription.user.phone}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Registrado desde: </strong>
                                    {{subscription.user.createdAt}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- payment -->
                <div class="card" style="margin-top: 15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Información de pago:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Código de pago: </strong>
                                    {{subscription.payment.code}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Moneda: </strong>
                                    {{subscription.payment.currency}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Monto: </strong>
                                    {{subscription.payment.amount}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Revisado: </strong>
                                    {{subscription.payment.checked}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Registrado desde: </strong>
                                    {{subscription.payment.createdAt}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- course -->
                <div class="card" style="margin-top: 15px; margin-bottom:15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h5 class="card-title">Información del curso:</h5>
                        </div>
                        <form class="form-inline">
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>ID: </strong>
                                    {{subscription.course.id}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre: </strong>
                                    {{subscription.course.name}}
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">
                                    <strong>Nombre (Ingles): </strong>
                                    {{subscription.course.englishName}}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p class="text-muted">
                                    <strong>Descripción: </strong>
                                    {{subscription.course.description}}
                                </p>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>