<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Suscripciones a cursos</li>
        </ol>

        <!-- Icon Cards -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <input placeholder="Filtrar resultados" ng-init="subscriptionsFilter" ng-model="subscriptionsFilter.$" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
                    </div>
                </div>
                <table style="margin-top:15px" id="subscriptionsTable" si-table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th sort-by="id">Código de suscripción</th>
                            <th sort-by="course.name">Curso</th>
                            <th sort-by="user.name">Usuario</th>
                            <th sort-by="payment.id">Monto de pago</th>
                            <th sort-by="active">Activo</th>
                            <th sort-by="createdAt">Fecha de compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="small-table" si-sortable ng-repeat="s in subscriptions | filter:subscriptionsFilter">
                            <td>
                                <a ng-href="/admin/dashboard/#!/subscriptions/path?id={{s.id}}">{{s.id}}</a>
                            </td>
                            <td>{{s.course.name}}</td>
                            <td>{{s.user.name}}</td>
                            <td>
                               USD$ {{s.payment.amount}}
                            </td>
                            <td ng-if="s.active" class="text-success">
                                <div class="checked"><i class="fa fa-check"></i> Desbloqueada</div>
                            </td>
                            <td ng-if="!s.active" class="text-danger">
                                <div class="no-checked"><i class="fa fa-close"></i> Bloqueada</div>
                            </td>
                            <td>{{s.createdAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>