<div ng-include="'./admin/templates/partials/navbar.html'"></div>
<!-- Navigation -->
<div class="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Usuarios</li>
    </ol>

    <!-- Icon Cards -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <input placeholder="Filtrar resultados" ng-init="userFilter" ng-model="userFilter.$" class="form-control">
          </div>
          <div class="col-md-3">
            <input type="button" value="Export to excel" ng-click="exportToExcel()" class="btn btn-success btn-block" />
          </div>
        </div>
        <table style="margin-top:15px" id="usersTable" si-table class="table table-bordered table-stripped">
          <thead>
            <tr>
              <th sort-by="id">#</th>
              <th sort-by="name">Nombre</th>
              <th sort-by="email">Email</th>
              <th sort-by="phone">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr class="small-table" si-sortable ng-repeat="user in users | filter:userFilter">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<div ng-include="'./admin/templates/partials/footer.html'"></div>
