<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="admin">

<head>
  <title>
    <%=typeof title == 'undefined' ? 'NTCE' : title%>
  </title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/datatables/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/admin/css/sb-admin.css">
  <link rel="stylesheet" href="/bower_components/adapt-strap/dist/adapt-strap.min.css" />
  <link rel='stylesheet' href='/bower_components/textAngular/dist/textAngular.css'>
  <base href="/">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <%- body %>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/adapt-strap/dist/adapt-strap.min.js"></script>
    <script src="/bower_components/adapt-strap/dist/adapt-strap.tpl.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/si-table/dist/si-table.min.js"></script>
    <script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src="/admin/app.js"></script>
    <script src="/admin/popper/popper.min.js"></script>
    <script src="/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/jquery-easing/jquery.easing.min.js"></script>
    <script src="/admin/datatables/jquery.dataTables.js"></script>
    <script src="/admin/datatables/dataTables.bootstrap4.js"></script>
    <script src="/admin/js/sb-admin.js"></script>
    <script src="/admin/controllers/users.ctlr.js"></script>
    <script src="/admin/controllers/courses.ctlr.js"></script>
    <script src="/admin/controllers/courses.edit.ctlr.js"></script>
    <script src="/admin/controllers/news.ctlr.js"></script>
    <script src="/admin/controllers/subscriptions.ctlr.js"></script>
    <script src="/admin/controllers/sales.ctlr.js"></script>
    <script src="/admin/controllers/booking.ctlr.js"></script>
    <script src="/admin/controllers/brochure.ctlr.js"></script>
    <script src="/admin/services/users.svc.js"></script>
    <script src="/admin/services/instructor.svc.js"></script>
    <script src="/admin/services/courses.svc.js"></script>
    <script src="/admin/services/countries.svc.js"></script>
    <script src="/admin/services/sales.svc.js"></script>
    <script src="/admin/services/excel.svc.js"></script>
    <script src="/admin/services/news.svc.js"></script>
    <script src="/admin/services/subscriptions.svc.js"></script>
    <script src="/admin/services/booking.svc.js"></script>
</body>

</html>