<!DOCTYPE html>
<html ng-app="ntce">
  <head>
    <title><%=typeof title == 'undefined' ? 'NTCE' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/theme/ntce.theme.css">
    <!--STYLES END-->
    <base href="/">
  </head>

  <body ng-controller="mainCtlr">
    <%- body %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
    <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
    <script src="/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/404.ctlr.js"></script>
    <script src="/js/controllers/500.ctlr.js"></script>
    <script src="/js/controllers/about.ctlr.js"></script>
    <script src="/js/controllers/booking.ctlr.js"></script>
    <script src="/js/controllers/cart.ctlr.js"></script>
    <script src="/js/controllers/checkout.ctlr.js"></script>
    <script src="/js/controllers/contact.ctlr.js"></script>
    <script src="/js/controllers/courses.list.ctlr.js"></script>
    <script src="/js/controllers/detailcourse.ctlr.js"></script>
    <script src="/js/controllers/engineering.ctlr.js"></script>
    <script src="/js/controllers/languageSwitch.ctlr.js"></script>
    <script src="/js/controllers/login.ctlr.js"></script>
    <script src="/js/controllers/logout.ctrl.js"></script>
    <script src="/js/controllers/myAccount.ctlr.js"></script>
    <script src="/js/controllers/navbar.ctlr.js"></script>
    <script src="/js/controllers/news.ctlr.js"></script>
    <script src="/js/controllers/register.ctlr.js"></script>
    <script src="/js/controllers/restorePass.ctlr.js"></script>
    <script src="/js/controllers/suscriptiondetail.ctlr.js"></script>
    <script src="/js/controllers/unactivated.ctlr.js"></script>
    <script src="/js/directives/banner.js"></script>
    <script src="/js/directives/bodyParser.js"></script>
    <script src="/js/directives/contact-form.js"></script>
    <script src="/js/directives/partners.js"></script>
    <script src="/js/directives/talker.js"></script>
    <script src="/js/directives/testimonials.js"></script>
    <script src="/js/services/accountService.js"></script>
    <script src="/js/services/authServices.js"></script>
    <script src="/js/services/bookingService.js"></script>
    <script src="/js/services/commentService.js"></script>
    <script src="/js/services/contactService.js"></script>
    <script src="/js/services/countryService.js"></script>
    <script src="/js/services/courseService.js"></script>
    <script src="/js/services/date.js"></script>
    <script src="/js/services/newsServices.js"></script>
    <script src="/js/services/starredCoursesService.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
