<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="'/images/banner/banner_1.jpeg'" flag1="{{'HOME.ONLINECOURSES' | translate}}" flag2="{{'HOME.CLASSROOMCOURSES' | translate}}"
  flag3="{{'HOME.INSPECTIONENGINEERING' | translate}}" icon1="/images/banner/icons/online-courses.png" icon2="/images/banner/icons/presencial-courses.png"
  icon3="/images/banner/icons/engineering.png" content="/templates/partials/banner/home.html" timer="timer">
</ntce-banner>
<div ng-include="'./templates/partials/brochure.html'"></div>
<div class="container title-courses">
  <h1>{{'HOME.NEWS' | translate}}</h1>
</div>
<div class="container body-courses">

  <!-- <h2>Novedades</h2> -->

  <div class="col-md-4 ntce-course" ng-repeat="c in starreds">
    <a class="thumbnail" ng-href="{{'#/course/detail/path?id=' + c.id}}">
            <img ng-src={{c.poster}} alt={{c.name}}>
            <div class="caption">
                <h3 ng-if="lang === 'es'" class "title">{{c.name}}</h3>
                <h3 ng-if="lang === 'en'" class "title">{{c.englishName}}</h3>
                <h4 ng-switch on="c.online">
                    <span ng-switch-when="true">{{'COURSES.ONLINE' | translate}}</span>
                    <span ng-switch-when="false">{{c.city}} {{c.date}}</span>
                </h4>
                <p class="text-muted instructor">{{c.instructor.name}}</p>
            </div>
            <div class="type" ng-switch on="c.online">
                <div ng-switch-when="true" class="blue">{{'COURSES.ONLINE' | translate}}</div>
                <div ng-switch-when="false" class="red">{{'COURSES.PHYSICAL' | translate}}</div>

            </div>
            <div class="ranking-course ">
                <div class="comments col-md-6 col-sm-6 col-xs-6">

                    <img class "comment" src="images/courses/comentarios.png" alt="comments"> {{c.comments}}

                    <img class "comment" src="images/courses/participantes.png" alt="comments"> {{c.users}}

                </div>
                <div class="ranking col-md-6 col-sm-6 col-xs-6">
                    <i class="fa fa-star" ng-repeat="y in c.rating.yellow"></i>
                    <i class="fa fa-star text-muted" ng-repeat="g in c.rating.gray"></i>
                </div>

            </div>

        </a>
  </div>
</div>
<testimonials></testimonials>
<partners></partners>
<contact-form></contact-form>
<div ng-include="'./templates/partials/footer-general.html'"></div>
