<div ng-include="'./templates/partials/navbar.html'" ></div>
<ntce-banner 
  imageurl="'/images/banner/500.jpg'"
  content="/templates/partials/banner/500.html">
</ntce-banner>
<div ng-include="'./templates/partials/footer-general.html'" ></div>