<div ng-include="'./templates/partials/navbar.html'" ></div>
<ntce-banner 
  imageurl="'/images/banner/aboutus.jpg'"
  color="light" 
  flag1="{{'ABOUT.FLAG1' | translate}}"
  flag2="{{'ABOUT.FLAG2' | translate}}"
  flag3="{{'ABOUT.FLAG3' | translate}}"
  content="/templates/partials/banner/about.html">
</ntce-banner>
<div ng-include="'./templates/partials/brochure.html'"></div>
<div class="about-text">
  <div class="container">
    <div class="col-sm-12 col-md-4 col-xs-12 right-text">
      <h2 translate="ABOUT.SUBTITLE" class="subtitle"></h2>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-8 left-text text-muted"><h3 class="text-squared" translate="ABOUT.RESUMEP1"></h3></div>
    <div class="col-md-12 col-sm-12 hidden-sm"><hr></div>
  </div>
  <div class="container"><h3 class="text-squared text-muted resume-text" translate="ABOUT.RESUMEP2"></h3></div>
</div>
<contact-form></contact-form>
<div ng-include="'./templates/partials/footer-general.html'" ></div>

