<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="'/images/banner/detailbanner.png'">
</ntce-banner>
<div class="car">

  <div ng-if="cart.length" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 car-list">
    <div class="header">
      <div class="car-items">
        <div class="col-md-1 col-sm-1 col-xs-1 price">
          <span>{{'CAR.PRODUCT' | translate}}</span>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-6 col-sm-offset-6 col-xs-offset-3 item-car">
          <span>{{'CAR.PRICE' | translate}}</span>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
          <span>{{'CAR.QUANTITY' | translate}}</span>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2 item-car">
          <span>{{'CAR.TOTAL' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="cart-element col-md-12 col-sm-12 col-xs-12" ng-repeat="c in cart track by $index">
        <div class=" col-md-6 col-sm-6 col-xs-2 image-product">
          <div class="col-md-8 col-sm-8 col-xs-12 hidden-xs image">
            <img src="{{c.poster}}" alt="">
            <div ng-if="c.online" class="status">
              <span>Online</span>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 col-md-4 product-detail">
            <span ng-if="lang === 'es'" class "title">{{c.name}}</span>
            <span ng-if="lang === 'en'" class "title">{{c.englishName}}</span>
            </br>
            <span ng-if="c.online">(Online)</span>
            </br>
            </br>
            <span class="text-muted">{{c.instructor.name}}</span>
            <div class="rating">
              <i class="fa fa-star complete"></i>
              <i class="fa fa-star complete"></i>
              <i class="fa fa-star complete"></i>
              <i class="fa fa-star complete"></i>
              <i class="fa fa-star empty"></i>
            </div>
          </div>
          <!--  col-sm-4 -->
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
          <span>{{c.globalCurrency}}{{c.globalPrice}}</span>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
          <select class="form-control" ng-change="calcTotal()" ng-model="c.qty" ng-options="qty.name as qty.name for qty in qtys">
            <option value="">--        --</option>
          </select>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2 item-car">
          <span>{{c.globalCurrency}}{{c.globalPrice * c.qty}}</span>
        </div>
        <div class="delete">
          <a ng-click="remove($index)">{{'CAR.DELETE' | translate}}</a>
        </div>
      </div>
      <!-- image-product -->
    </div>
  </div>




  <div ng-if="!cart.length" class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 car-list">
    <div class="body-noitemcart">
      <h2>{{'CAR.NOTCOURSESADDED' | translate}}</h2>
      <span class="text-muted">{{'CAR.ADDCOURSES' | translate}}</span>
      <br>
      <p class="text-muted">{{'CAR.VISIT' | translate}}
        <a href="#/courses"> {{'CAR.COURSES' | translate}}</a> {{'CAR.MORE' | translate}}.</p>
    </div>
  </div>








  <div ng-if="cart.length" class="col-md-3 col-sm-6 col-xs-8 col-md-offset-7 col-sm-offset-3 col-xs-offset-2 make-a-purchase">
    <!-- <div class="col-md-12 col-sm-12 col-xs-12 subtotal"> -->
    <!-- <div class="col-md-16 col-sm-6 col-xs-6 sub-total">
        <span>{{'CAR.SUBTOTAL' | translate}}</span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 amount">
        <span></span>
      </div> -->

    <!-- <div class="col-md-12 col-sm-12 col-xs-12 text-muted coupon">

        <div class="col-md-6 col-sm-6 col-xs-6 code">
          <input type="text" size="15" maxlength="4" value="Código Cupón" name="coupon">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 apply">
          <input type="submit" value="Apply">
        </div>

      </div> -->
    <!-- </div> -->
    <div class="col-md-12 col-sm-12 col-xs-12 total-div">
      <div class="col-md-6 col-sm-6 col-xs-6 total" style="text-align:right">
        <span>{{'CAR.TOTAL' | translate}}</span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 total-amount" style="text-align:left">
        <span>USD$ {{totalPrice}}</span>
      </div>
    </div>
    <div class="make-purchase">
      <input type="bottom" ng-click="checkOut()" value="{{'CAR.MAKEAPURCHASE' | translate}}">
    </div>
  </div>
</div>

</div>
<talker></talker>
<div ng-include="'./templates/partials/footer-general.html'"></div>