<div ng-include="'./templates/partials/navbar.html'"></div>
<!-- <ntce-banner imageurl="'/images/banner/detailbanner.png'">
</ntce-banner> -->
<div class="checkout-page">
  <div class="container checkout">
    <div class="col-md-12 col-sm-12 facturation-details">
      <h2>{{'CHECKOUT.FACTURATIONDETAILS' | translate}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sit iure totam dignissimos et optio pariatur, magni
        numquam.
      </p>
      <form class="text-muted">
        <div class="form-group col-md-4">
          <input class "name" type="text" maxlength="50" value="{{'CHECKOUT.NAME' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <input class "email" type="text" maxlength="50" value="{{'CHECKOUT.EMAIL' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <input class "phone" type="text" maxlength="50" value="{{'CHECKOUT.PHONE' | translate}}">
        </div>
        <div class="form-group col-md-8">
          <input class "address" type="text" maxlength="50" value="{{'CHECKOUT.ADDRESS' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <input class "city" type="text" maxlength="50" value="{{'CHECKOUT.CITY' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <input class "postalcode" type="text" maxlength="50" value="{{'CHECKOUT.POSTALCODE' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <input class "identity" type="text" maxlength="50" value="{{'CHECKOUT.IDENTITY' | translate}}">
        </div>
        <div class="form-group col-md-4">
          <div class="custom-checkbox">
            <input type="checkbox" id="cb1">
            <label for="cb1">
              <span>{{'CHECKOUT.IWANTTOREGISTER' | translate}}</span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="car">
    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 car-list">
      <div class="header">
        <div class="car-items">
          <div class="col-md-1 col-sm-1 col-xs-1 price">
            <span>{{'CAR.PRODUCT' | translate}}</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-6 col-sm-offset-6 col-xs-offset-3 item-car">
            <span>{{'CAR.PRICE' | translate}}</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
            <span>{{'CAR.QUANTITY' | translate}}</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2 item-car">
            <span>{{'CAR.TOTAL' | translate}}</span>
          </div>
        </div>
      </div>

      <div class="body">
        <div class="cart-element col-md-12 col-sm-12 col-xs-12" ng-repeat="c in cart track by $index">
          <div class=" col-md-6 col-sm-6 col-xs-2 image-product">
            <div class="col-md-8 col-sm-8 col-xs-12 hidden-xs image">
              <img src="{{c.poster}}" alt="">
              <div ng-if="c.online" class="status">
                <span>Online</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-4 product-detail">
              <span ng-if="lang === 'es'" class "title">{{c.name}}</span>
              <span ng-if="lang === 'en'" class "title">{{c.englishName}}</span>
              </br>
              <span ng-if="c.online">(Online)</span>
              </br>
              </br>
              <span class="text-muted">{{c.instructor.name}}</span>
              <div class="rating">
                <i class="fa fa-star complete"></i>
                <i class="fa fa-star complete"></i>
                <i class="fa fa-star complete"></i>
                <i class="fa fa-star complete"></i>
                <i class="fa fa-star empty"></i>
              </div>
            </div>
            <!--  col-sm-4 -->
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
            <span>{{c.globalCurrency}}{{c.globalPrice}}</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-car">
            <span>{{c.qty}}</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-2 item-car">
            <span>{{c.globalCurrency}}{{c.globalPrice * c.qty}}</span>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="cart.length" class="col-md-3 col-sm-6 col-xs-8 col-md-offset-7 col-sm-offset-3 col-xs-offset-2 make-a-purchase">
      <form action="/paymentgateway/pay" method="post">
        <div class="col-md-12 col-sm-12 col-xs-12 total-div">
          <div class="col-md-6 col-sm-6 col-xs-6 total">
            <span>{{'CAR.TOTAL' | translate}}</span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 total-amount">
            <span>USD$ {{totalPrice}}</span>
          </div>
        </div>
        <div ng-repeat="i in cart track by $index">
          <input type="hidden" ng-value="i.id + '_' + i.qty" name="item_{{$index}}" />
          <input type="hidden" ng-value="currentUser.id" name="user"/>
        </div>
        
        <div class="make-purchase-btn" style="padding: 30px 20px 0;">
          <input type="submit" ng-click="checkOut()" value="{{'CHECKOUT.PAY' | translate}}">
        </div>
      </form>
    </div>
  </div>
</div>


<talker></talker>
<div ng-include="'./templates/partials/footer-general.html'"></div>