<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="'/images/banner/contact_banner.jpg'" flag1="{{'HOME.ONLINECOURSES' | translate}}" flag2="{{'HOME.CLASSROOMCOURSES' | translate}}"
flag3="{{'HOME.INSPECTIONENGINEERING' | translate}}" icon1="/images/banner/icons/online-courses.png" icon2="/images/banner/icons/presencial-courses.png"
icon3="/images/banner/icons/engineering.png" content="/templates/partials/banner/home.html">
</ntce-banner>
<div ng-include="'./templates/partials/brochure.html'"></div>
<div class="container container-contact">
  <h2>{{'CONTACT.VISIT' | translate}}</h2>
  <div class="col-md-4 col-sm-4 col-xs-12 country">
    <div class="thumbnail address-box">
      <div class="col-md-12 col-sm-12 col-xs-12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.0491295496643!2d-74.08315924198384!3d4.752954172124264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85ab2aef44d3%3A0x334422dc2ac4eaf2!2sCl.+156+%2392-64%2C+Bogot%C3%A1%2C+Colombia!5e0!3m2!1ses!2sve!4v1511025233381"
          width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="address">
        <h3>Colombia</h3>
        <p>{{'CONTACT.ADDRESSCOL' | translate}}</p>
        <p>{{'CONTACT.COUNTRYCOL' | translate}}</p>
        <span>(57) 1 658 2971</span>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 country">
    <div class="thumbnail address-box">
      <div class="col-md-12 col-sm-12 col-xs-12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2763.0596500809693!2d-70.19672414991862!3d11.654923734024072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x8e85ec34b9617fd3%3A0x7534263e3a4b67d!2sCalle+Dabajuro%2C+Punta+Card%C3%B3n%2C+Falc%C3%B3n!3m2!1d11.652469799999999!2d-70.1893704!4m0!5e0!3m2!1ses!2sve!4v1511026629996"
          width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="address">
        <h3>Venezuela</h3>
        <p>{{'CONTACT.ADDRESSVE' | translate}}</p>
        <p>{{'CONTACT.COUNTRYVE' | translate}}</p>
        <span>(58) 269 220 0927</span>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12 country">
    <div class="thumbnail address-box">
      <div class="col-md-12 col-sm-12 col-xs-12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.731143361141!2d-58.36829098465076!3d-34.61095946538848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352a27006857%3A0xaba06599df144390!2sAv.+Alicia+Moreau+de+Justo+1150%2C+C1107AAX+CABA%2C+Argentina!5e0!3m2!1ses!2sve!4v1511025796313"
          width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="address">
        <h3>Argentina</h3>
        <p>{{'CONTACT.ADDRESSARG' | translate}}</p>
        <p>{{'CONTACT.COUNTRYARG' | translate}}</p>
        <span>(54) 9 11 5278 5967</span>
      </div>
    </div>
  </div>
</div>
<contact-form></contact-form>
<div ng-include="'./templates/partials/footer-general.html'"></div>
