<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="'/images/banner/banner-courses.jpg'" color="light" flag1="{{'ABOUT.FLAG1' | translate}}" flag2="{{'ABOUT.FLAG2' | translate}}"
  flag3="{{'ABOUT.FLAG3' | translate}}" content="/templates/partials/banner/courses.html">
</ntce-banner>
<div ng-include="'./templates/partials/brochure.html'"></div>

<div class="container body-courses" ng-show="!courses.length">
  <div class="not-found">
    <i class="fa fa-2x fa-frown-o"></i>
    <h4>{{'DEFAULT.NO_RECORDS' | translate}}</h4>
  </div>
</div>

<div class="container title-courses" ng-show="courses.length">
  <h1>{{'COURSES.TITLE' | translate}}</h1>
</div>

<div class="container body-courses" ng-show="courses.length > 0">
  <div class="col-md-4 ntce-course" ng-repeat="c in courses track by $index">
    <a class="thumbnail" ng-href="{{'#/course/detail/path?id=' + c.id}}">
      <img ng-src={{c.poster}} alt={{c.name}}>
      <div class="caption">
        <h3 ng-if="lang === 'es'" class "title">{{c.name}}</h3>
        <h3 ng-if="lang === 'en'" class "title">{{c.englishName}}</h3>
        <h4 ng-if="c.online">(Online)</h4>
        <h4 ng-if="!c.online">({{c.city}} {{c.date}})</h4>
        <p class="text-muted instructor">{{c.instructor.name}}</p>
      </div>
      <div class="type" ng-switch on="c.online">
        <div ng-switch-when="true" class="blue">{{'COURSES.ONLINE' | translate}}</div>
        <div ng-switch-when="false" class="red">{{'COURSES.PHYSICAL' | translate}}</div>

      </div>
      <div class="ranking-course ">
        <div class="comments col-md-6 col-sm-6 col-xs-6">

          <img class "comment" src="images/courses/comentarios.png" alt="comments"> {{c.comments.length}}

          <img class "comment" src="images/courses/participantes.png" alt="comments"> {{c.users || 0}}

        </div>
        <div class="ranking col-md-6 col-sm-6 col-xs-6">
          <i class="fa fa-star" ng-repeat="y in c.rating.yellow"></i>
          <i class="fa fa-star text-muted" ng-repeat="g in c.rating.gray"></i>
        </div>
      </div>
    </a>
  </div>
</div>
<contact-form></contact-form>
<div ng-include="'./templates/partials/footer-general.html'"></div>
