<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="{{course.poster || '/images/banner/detailbanner.png'}}" course="{{course.name}}" courseenglish="{{course.englishName}}"
  lang="{{lang}}" method="{{course.method}}">

</ntce-banner>
<div class="container course-description">
  <div class="buy-box">
    <div class="head">
      <h4 ng-if="course.online">
        USD{{course.globalCurrency}} {{course.globalPrice}}
      </h4>
    </div>
    <div class="col-md-12 info">
      <div class="col-md-12 text-muted graduates">
        <img src="/images/courses/graduates.png" alt="">
        <span>{{course.users.length || 0}} {{'COURSES.GRADUATES' | translate}}</span>
      </div>
    </div>
    <div class="col-md-12 info">
      <div class="col-md-12 text-muted duration">
        <img src="/images/courses/duration.png" alt="">
        <span>{{'COURSES.DURATION' | translate}} {{course.duration}} {{'COURSES.HOURS' | translate}}</span>
      </div>
    </div>
    <div class="col-md-12 info">
      <div class="col-md-12 text-muted video">
        <img src="/images/courses/video.png" alt="">
        <span>{{'COURSES.VIDEO' | translate}}</span>
      </div>
    </div>
    <div class="col-md-12 info">
      <div class="col-md-12 text-muted certificate">
        <img src="/images/courses/certificate.png" alt="">
        <span>{{'COURSES.CERTIFICATE' | translate}}</span>
      </div>
    </div>

    <button type="button" ng-click="addToCart(course);" ng-if="course.online" class="col-md-4 buy">
      <span>{{'COURSES.BUY' | translate}}</span>
    </button>

    <button type="button" data-target="#myModal" ng-if="!course.online" class="col-md-4 buy" data-toggle="modal">
      <span>{{'COURSES.RESERVATION' | translate}}</span>
    </button>

  </div>
  <h2>{{'COURSES.DESCRIPTION' | translate}}</h2>
  <div class="col-md-8 col-sm-12 colxs-12 description text-muted">
    <br>
    <div ng-if="lang === 'es'">
      {{course.description}}</div>
    <div ng-if="lang === 'en'">
      {{course.englishDescription}}</div>
  </div>
  <dDv class="col-md-12 col-sm-12 hidden-sm separator">
</div>
</div>
<div class="container course-info">
  <accordion>
    <accordion-group class="panel-default" ng-show="course.whatExpect.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION6' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.whatExpect}}"></body-parser>
      </div>
      <div ng-if="lang === 'en'">
        <body-parser content="{{course.englishWhatExpect}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
    <accordion-group class="panel-default" ng-show="course.objetivePublic.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION1' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.objetivePublic}}"></body-parser>
      </div>
      <div ng-if="lang ==='en'">
        <body-parser content="{{course.englishObjetivePublic}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
    <accordion-group class="panel-default" ng-show="course.methodology.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION2' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.methodology}}"></body-parser>
      </div>
      <div ng-if="lang === 'en'">
        <body-parser content="{{course.englishMethodology}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
    <accordion-group class="panel-default" ng-show="course.resources.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION3' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.resources}}"></body-parser>
      </div>
      <div ng-if="lang === 'en'">
        <body-parser content="{{course.englishResources}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
    <accordion-group class="panel-default" ng-show="course.contents.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION4' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.contents}}"></body-parser>
      </div>
      <div ng-if="lang === 'en'">
        <body-parser content="{{course.englishContents}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
    <accordion-group class="panel-default" ng-show="course.modules.length">
      <accordion-heading>
        <b>{{'COURSES.ACCORDION5' | translate}}</b>
        <i class="pull-right fa fa-angle-down"></i>
      </accordion-heading>
      <div ng-if="lang === 'es'">
        <body-parser content="{{course.modules}}"></body-parser>
      </div>
      <div ng-if="lang === 'en'">
        <body-parser content="{{course.englishModules}}"></body-parser>
      </div>
      <br>
      <br>
    </accordion-group>
  </accordion>
  <div class="col-md-12 col-sm-12 hidden-sm separator">
    <hr>
  </div>
</div>

<div class="container instructor">
  <h2>{{'COURSES.INSTRUCTOR' | translate}}</h2>
  <div class="col-md-2 col-sm-3 col-xs-12 photo-instructor">
    <a href="#" class="instructor-photo">
      <img src="{{course.instructor.photo}}" alt="" class="img-responsive img-circle">
    </a>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12 instructor-description">
    <h2>{{course.instructor.name}}</h2>
    <div ng-if="lang === 'es'">
      <h3>{{course.instructor.title}}</h3>
    </div>
    <div ng-if="lang === 'en'">
      <h3>{{course.instructor.englishTitle}}</h3>
    </div>
    </br>
    <div ng-if="lang === 'es'">
      <p class="text-muted">{{course.instructor.description}}</br>
      </p>
    </div>
    <div ng-if="lang === 'en'">
      <p class="text-muted">{{course.instructor.englishDescription}}</br>
      </p>
    </div>

  </div>
  <div class="col-md-12 col-sm-12 hidden-sm separator">
    <hr>
  </div>
</div>

<div class="container rating-container">
  <h2>{{'COURSES.RELEASE' | translate}}</h2>
  <div class="col-md-2 col-sm-3 col-xs-12 calification">
    <h1>{{course.rating.computed.toFixed(2)}}</h1>
    <div class="rating">
        <i class="fa fa-star" ng-class="{'yellow-star': course.rating.computed >= 1}"></i>
        <i class="fa fa-star" ng-class="{'yellow-star': course.rating.computed >= 2}"></i>
        <i class="fa fa-star" ng-class="{'yellow-star': course.rating.computed >= 3}"></i>
        <i class="fa fa-star" ng-class="{'yellow-star': course.rating.computed >= 4}"></i>
        <i class="fa fa-star" ng-class="{'yellow-star': course.rating.computed >= 5}"></i>
    </div>
    <span>Average Rating</span>
  </div>
  <div class="col-md-10 col-sm-12 col-xs-12 releases">
    <div class="col-md-12 col sm-12 col col-xs-12">
      <div class="rating-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{course.rating.onePercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.rating.onePercent}}%">
            <span class="sr-only">{{course.rating.onePercent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="rating-stars">
        <div class="rating">
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <span>{{ course.rating.onePercent }}%</span>

        </div>
      </div>
    </div>

    <div class="col-md-12 col sm-12 col col-xs-12">
      <div class="rating-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{course.rating.twoPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.rating.twoPercent}}%">
            <span class="sr-only">{{course.rating.twoPercent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="rating-stars">
        <div class="rating">
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star empty"></i>
          <span>{{course.rating.twoPercent}}%</span>

        </div>
      </div>
    </div>

    <div class="col-md-12 col sm-12 col col-xs-12">
      <div class="rating-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{course.rating.treePercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.rating.treePercent}}%">
            <span class="sr-only">{{course.rating.treePercent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="rating-stars">
        <div class="rating">
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <span>{{course.rating.treePercent}}%</span>

        </div>
      </div>
    </div>

    <div class="col-md-12 col sm-12 col col-xs-12">
      <div class="rating-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{course.rating.fourPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.rating.fourPercent}}%">
            <span class="sr-only">{{course.rating.fourPercent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="rating-stars">
        <div class="rating">
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <span>{{course.rating.fourPercent}}%</span>

        </div>
      </div>
    </div>

    <div class="col-md-12 col sm-12 col col-xs-12">
      <div class="rating-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{course.rating.fivePercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{course.rating.fivePercent}}%">
            <span class="sr-only">{{course.rating.fivePercent}}% Complete</span>
          </div>
        </div>
      </div>
      <div class="rating-stars">
        <div class="rating">
          <i class="fa fa-star complete"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <i class="fa fa-star empty"></i>
          <span>{{course.rating.fivePercent}}%</span>

        </div>
      </div>
    </div>


  </div>

  <div class="col-md-12 col-sm-12 hidden-sm separator">
    <hr>
  </div>
</div>
<div class="container-comments container">
  <h2>{{'COURSES.COMMENTS' | translate}}</h2>
  <div class="col-md-12 col-sm-12 col-xs-12 comment-box" ng-repeat="c in course.comments">
    <div class="col-md-2 col-sm-2 col-xs-12 user-info">
      <h2>{{c.userName}}</h2>
      <!-- <h4>Colombia</h4> -->
      </br>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-12 comment">
      <div class="col-md-12 col-sm-12 col-xs-12 calification">
          <i class="fa fa-star" ng-class="{'yellow-star': c.value >= 1}"></i>
          <i class="fa fa-star" ng-class="{'yellow-star': c.value >= 2}"></i>
          <i class="fa fa-star" ng-class="{'yellow-star': c.value >= 3}"></i>
          <i class="fa fa-star" ng-class="{'yellow-star': c.value >= 4}"></i>
          <i class="fa fa-star" ng-class="{'yellow-star': c.value >= 5}"></i>
        <span>{{c.createdAt | date:"dd/MM/yyyy"}}</span>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 text-comment">
        <p class="text-muted">
          {{c.text}}
        </p>
      </div>
    </div>
  </div>
</div>

<contact-form></contact-form>
<div ng-include="'./templates/partials/footer-general.html'"></div>


<!-- Modal Reserve-->
<div class="modal fade" id="myModal" role="dialog" ng-submit="sendBooking()">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{'COURSES.RESERVATION' | translate}}</h4>
      </div>
      <form id="bookingForm" class="text-muted" ng-submit="sendBooking()">
        <div class="modal-body" ng-controller="bookingCtlr">
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 modal-form">
            <p class="text-muted">{{'CHECKOUT.ADDRESERVATION' | translate}}</p>

            <input required ng-model="booking.name" class "name" type="text" maxlength="50" placeholder="{{'CHECKOUT.NAME' | translate}}">
            <input required ng-model="booking.email" class "email" type="text" maxlength="50" placeholder="{{'CHECKOUT.EMAIL' | translate}}">
            <input required ng-model="booking.phone" class "city" type="text" maxlength="50" placeholder="{{'CHECKOUT.PHONE' | translate}}">
            <input required ng-model="booking.city" class "city" type="text" maxlength="50" placeholder="{{'CHECKOUT.CITY' | translate}}">
            <input required ng-model="booking.bussiness" class "city" type="text" maxlength="50" placeholder="{{'CHECKOUT.COMPANY' | translate}}">
            <input readonly class "message" type="text" maxlength="1550" placeholder="{{'CHECKOUT.INSERTMESSAGE' | translate}}">
            <textarea required ng-model="booking.message" name="comentarios" rows="5" cols="60"></textarea>

          </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">{{'CHECKOUT.SEND' | translate}}</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--Modal addToCart -->
<div class="modalAddToCart modal fade" id="addToCart" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{'COURSES.ADDTOCART' | translate}}</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 modal-form">
            <p class="text-muted">{{'COURSES.YOUWANTTODO' | translate}}</p>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 modal-form">
            <button type="button" class="buttonModal" id="goToCart">{{'COURSES.GOTOCART' | translate}}</button>
            <button type="button" class="buttonModal" data-dismiss="modal">{{'COURSES.KEEPMEHERE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Modal noLogged -->
<div class="modalAddToCart modal fade" id="noLogged" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{'COURSES.PLEASELOGIN' | translate}}</h4>
        </div>
        <div class="modal-body" style="padding-top:30px;">
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 modal-form">
            <p align="center">
              <img height="50" style="margin-bottom:20px;" src="/images/national.png" />
            </p>
            <p class="text-muted">{{'COURSES.NEEDSLOGIN' | translate}} {{'AUTH.SIGNUP' | translate}}/{{'AUTH.SIGNIN' | translate}} {{'COURSES.NEEDSLOGIN2'
              | translate}}</p>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 modal-form">
            <button type="button" class="buttonModal" ng-click="goTo('/#/signin')">{{'AUTH.HAVE_ACCOUNT_LINK' | translate}}</button>
            <button type="button" class="buttonModal" ng-click="goTo('/#/signup')">{{'AUTH.SIGNUP' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</div>