<div ng-include="'./templates/partials/navbar.html'"></div>
<ntce-banner imageurl="'/images/banner/engineering.jpg'" color="light" flag1="{{'ABOUT.FLAG1' | translate}}" flag2="{{'ABOUT.FLAG2' | translate}}"
  flag3="{{'ABOUT.FLAG3' | translate}}" content="/templates/partials/banner/engineering.html">
</ntce-banner>
<div ng-include="'./templates/partials/brochure.html'"></div>
<div class="about-text">
  <div class="container">
    <div class="col-sm-12 col-md-4 col-xs-12 right-text">
      <h2 translate="ENGINEERING.SUBTITLE" class="subtitle"></h2>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-8 left-text text-muted">
      <h3 class="text-squared" translate="ENGINEERING.RESUMEP1"></h3>
    </div>
    <div class="col-md-12 col-sm-12 hidden-sm">
      <hr>
    </div>
  </div>
  <div class="container">
    <h3 class="text-squared text-muted resume-text" translate="ENGINEERING.RESUMEP2"></h3>
  </div>
</div>










<div class="eng-services">
  <div class="container">
    <accordion>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE1' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE1RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b>{{'ENGINEERING.SERVICE2' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE2RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b>{{'ENGINEERING.SERVICE3' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE3RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE4' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE4RESUME' | translate}}
      </accordion-group>
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE5' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE5RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE6' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE6RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE7' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE7RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE8' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE8RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.SERVICE9' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE9RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.SERVICE10' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE10RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE11' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE11RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.SERVICE12' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE12RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE13' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE13RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE14' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE14RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
         <b>{{'ENGINEERING.SERVICE15' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE15RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" heading="Dynamic Body Content" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.SERVICE16' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE16RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" is-disabled="true">
        <accordion-heading>
        <b>{{'ENGINEERING.SERVICE17' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE17RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" is-disabled="true">
        <accordion-heading>
        <b>{{'ENGINEERING.SERVICE18' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE18RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.SERVICE19' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
        {{'ENGINEERING.SERVICE19RESUME' | translate}}
      </accordion-group>
      <accordion-group class="panel-default" is-disabled="true">
        <accordion-heading>
        <b> {{'ENGINEERING.MORE' | translate}}</b> <i class="pull-right fa fa-angle-down"></i>
        </accordion-heading>
       <p><i class="fa fa-angle-right"></i> {{'ENGINEERING.MORERESUME' | translate}}</p>
       <p><i class="fa fa-angle-right"></i> {{'ENGINEERING.MORERESUME1' | translate}}</p>
       <p><i class="fa fa-angle-right"></i> {{'ENGINEERING.MORERESUME2' | translate}}</p>
       <p><i class="fa fa-angle-right"></i> {{'ENGINEERING.MORERESUME3' | translate}}</p>
       <p><i class="fa fa-angle-right"></i> {{'ENGINEERING.MORERESUME4' | translate}}</p>
      </accordion-group>
    </accordion>
  </div>
</div>














<talker></talker>
<div ng-include="'./templates/partials/footer-general.html'"></div>
