<div class="trans-page">
    <div class="trans-bg"></div>
    <div class="trans-container col-md-6 col-md-offset-3 col-sm-12 text-center">
      <img src="/images/national.png" alt="NationalTCE" class="img-responsive">
      <h4 class="text-primary" translate="DEFAULT.SALE_SUCCESS"></h4>
      <P class="text-mutted" translate="DEFAULT.SALE_SUCCESS_MESSAGE"></P>
      <p class="text-muted">
        <a href="#/" translate="DEFAULT.GO_HOME"></a>
      </p>
    </div>
  </div>