<div class="banner-content">
    <div>
        <h2>Proveemos soluciones confiables de ingeniería.</h2>
        <span>Adiestramiento y capacitación en temas de integridad mecánica.</span>
                
    </div>
</div>