<div class="banner-content">
    <div>
        <h2>{{'COURSES.BEANEXPERT' | translate}}</h2>
        <span>{{'COURSES.SPECIALIZE' | translate}}</span>
        <div class="banner-form courses-search-form">
            <div class="container">
                <form class="form-inline" ng-submit="search(filters)">
                    <div class="form-group">
                        <select class="form-control" ng-model="filters.online">
                            <option value="" selected>{{'COURSES.MODALITY' | translate}}</option>
                            <option value="true">Online</option>
                            <option value="false">Presencial</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="filters.country" ng-disabled="filters.online=='true'">
                            <option value="" selected>{{'COURSES.COUNTRY' | translate}}</option>
                            <option ng-repeat="c in $ctrl.countries" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{'COURSES.KEYWORD' | translate}}" class="form-control" ng-model="filters.name" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>