<div class="banner-content">
        <div>
            <h2 translate="HOME.BANNERTITLE"></h2>
            <span translate="HOME.BANNERSUBTITLE"></span>
            <div class="banner-form courses-search-form">
                <div class="container" ng-controller="newsCtlr">
                    <form class="form-inline" ng-submit="addToNews(subscriber)">
                        <div class="form-group">
                            <input type="text" required ng-model="subscriber.name" placeholder="{{'AUTH.NAME_PLACEHOLDER' | translate}}">
                        </div>
                        <div class="form-group">
                            <input type="email" required ng-model="subscriber.emailAddress" placeholder="{{'AUTH.EMAIL_PLACEHOLDER' | translate}}">
                        </div>                       
                        <button type="submit" class="btn btn-primary">
                            {{'HOME.SUBSCRIBE' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>